/**
* Copyright (c) 2012-2019 SAP SE, All Rights Reserved
*
* Theming Engine 1.54.0
* data:{"Path": "UI5.sap/zen/commons.open_space_belize.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "Extends": ["sap_belize","base"], "Version": { "Build":"1.71.19.20211210142125", "Source": "1.71.19", "Engine": "1.54.0"}}
*/

.sapThemeMetaData-UI5-sap-zen-commons{background-image: url('data:text/plain;utf-8,{"Path": "UI5.sap/zen/commons.open_space_belize.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "Extends": ["sap_belize","base"], "Version": { "Build":"1.71.19.20211210142125", "Source": "1.71.19", "Engine": "1.54.0"}}');}
@font-face{font-family:'72';font-style:normal;font-weight:300;src:local('72-Light'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Light.woff2) format('woff2'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Light.woff) format('woff')}@font-face{font-family:'72';font-style:normal;font-weight:400;src:local('72'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Regular.woff2) format('woff2'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Regular.woff) format('woff')}@font-face{font-family:'72';font-style:normal;font-weight:700;src:local('72-Bold'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Bold.woff2) format('woff2'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Bold.woff) format('woff')}@font-face{font-family:'72full';font-style:normal;font-weight:300;src:url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff2) format('woff2'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff) format('woff')}@font-face{font-family:'72full';font-style:normal;font-weight:400;src:url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff2) format('woff2'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff) format('woff')}@font-face{font-family:'72full';font-style:normal;font-weight:700;src:url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff2) format('woff2'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff) format('woff')}@font-face{font-family:'72-Light';src:local('72-Light'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Light.woff2) format('woff2'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Light.woff) format('woff')}@font-face{font-family:'72-Lighfull';src:url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff2) format('woff2'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff) format('woff')}@font-face{font-family:'72-Bold';src:local('72-Bold'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Bold.woff2) format('woff2'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Bold.woff) format('woff')}@font-face{font-family:'72-Boldfull';src:url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff2) format('woff2'),url(../../../../../../Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff) format('woff')}.sapSvgLibs{background-image:none,url(../../../../../../Base/baseLib/sap_belize/svg/libs/SAPGUI-icons.svg),url(../../../../../../Base/baseLib/sap_belize/svg/libs/SAPWeb-icons.svg)}.sapSvgLibsDataUri{background-image:url("../../../Base/Base/baseLib/sap_belize/svg/libs/SAPWeb-icons.svg)")}.sapSvgIconPositive{fill:#2b7c2b !important}.sapSvgIconCritical{fill:#e78c07 !important}.sapSvgIconNegative{fill:#b00 !important}.sapUiLayoutAbs{position:relative;display:block;width:100%;height:100%}.sapUiLayoutAbsPos{display:inline-block;position:absolute;overflow:visible}.sapUiLayoutAbsOvrflwXAuto{overflow-x:auto}.sapUiLayoutAbsOvrflwYAuto{overflow-y:auto}.sapUiLayoutAbsOvrflwXHidden{overflow-x:hidden}.sapUiLayoutAbsOvrflwYHidden{overflow-y:hidden}.sapUiLayoutAbsOvrflwXScroll{overflow-x:scroll}.sapUiLayoutAbsOvrflwYScroll{overflow-y:scroll}.sapUiLayoutAbsOvrflwXNone{overflow-x:visible}.sapUiLayoutAbsOvrflwYNone{overflow-y:visible}/*!
* jQuery UI CSS Framework 1.8.21
*
* Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Theming/API
*/.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{position:absolute !important;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px)}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{zoom:1}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:alpha(opacity=0)}.ui-state-disabled{cursor:default !important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%}/*!
* jQuery UI CSS Framework 1.8.21
*
* Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Theming/API
*
* To view and modify this theme, visit http://jqueryui.com/themeroller/
*/.ui-widget{font-family:Verdana,Arial,sans-serif;font-size:1.1em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Verdana,Arial,sans-serif;font-size:1em}.ui-widget-content{border:1px solid #aaaaaa;background:#fff url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;color:#222}.ui-widget-content a{color:#222}.ui-widget-header{border:1px solid #aaaaaa;background:#ccc url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;color:#222222;font-weight:bold}.ui-widget-header a{color:#222}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #d3d3d3;background:#e6e6e6 url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#555}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#555555;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #999999;background:#dadada url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#212121}.ui-state-hover a,.ui-state-hover a:hover{color:#212121;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #aaaaaa;background:#fff url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#212121}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#212121;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fcefa1;background:#fbf9ee url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;color:#363636}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#fef1ec url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;color:#cd0a0a}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#cd0a0a}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#cd0a0a}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:alpha(opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:alpha(opacity=35);background-image:none}.ui-icon{width:16px;height:16px;background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_222222_256x240.png)}.ui-widget-content .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_222222_256x240.png)}.ui-widget-header .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_222222_256x240.png)}.ui-state-default .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_888888_256x240.png)}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_454545_256x240.png)}.ui-state-active .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_454545_256x240.png)}.ui-state-highlight .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_2e83ff_256x240.png)}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_cd0a0a_256x240.png)}.ui-icon-carat-1-n{background-position:0 0}.ui-icon-carat-1-ne{background-position:-16px 0}.ui-icon-carat-1-e{background-position:-32px 0}.ui-icon-carat-1-se{background-position:-48px 0}.ui-icon-carat-1-s{background-position:-64px 0}.ui-icon-carat-1-sw{background-position:-80px 0}.ui-icon-carat-1-w{background-position:-96px 0}.ui-icon-carat-1-nw{background-position:-112px 0}.ui-icon-carat-2-n-s{background-position:-128px 0}.ui-icon-carat-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-64px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-64px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:0 -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-off{background-position:-96px -144px}.ui-icon-radio-on{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;-khtml-border-top-left-radius:4px;border-top-left-radius:4px}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;-khtml-border-top-right-radius:4px;border-top-right-radius:4px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;-khtml-border-bottom-left-radius:4px;border-bottom-left-radius:4px}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;-khtml-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.ui-widget-overlay{background:#aaa url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;opacity:.3;filter:alpha(opacity=30)}.ui-widget-shadow{margin:-8px 0 0 -8px;padding:8px;background:#aaa url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;opacity:.3;filter:alpha(opacity=30);-moz-border-radius:8px;-khtml-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.sapUiMlt{color:#333;font-family:"72","72full",Arial,Helvetica,sans-serif;font-size:16px;text-align:initial}.sapUiMltCell{box-sizing:border-box}.sapUiMltCellHAlignCenter{text-align:center}.sapUiMltCellHAlignLeft{text-align:left}.sapUiMltCellHAlignRight{text-align:right}.sapUiMltCellHAlignCenter>*{margin-left:auto;margin-right:auto}.sapUiMltCellHAlignLeft>*,html[dir=rtl] .sapUiMltCellHAlignRight>*{margin-right:auto;margin-left:0}.sapUiMltCellHAlignRight>*,html[dir=rtl] .sapUiMltCellHAlignLeft>*{margin-left:auto;margin-right:0}.sapUiMltBgBorder{background-color:#000}.sapUiMltBgFill1{background-color:#000}.sapUiMltBgFill2{background-color:#808080}.sapUiMltBgFill3{background-color:#a9a9a9}.sapUiMltBgHeader{background-color:#000}.sapUiMltBgPlain{background-color:#fafafa}.sapUiMltPadNone{padding:0}.sapUiMltPadLeft{padding:0 0 5px 4px}.sapUiMltPadRight{padding:0 4px 5px 0}.sapUiMltPadBoth{padding:0 4px 5px 4px}.sapUiMltPadNeither{padding:0 0 5px 0}.sapUiMltSepS{padding-left:17px}.sapUiMltSepSWL{padding-left:17px;background-repeat:repeat-y;background-position:top left;background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/layout/separationSmall.gif)}.sapUiMltSepM{padding-left:31px}.sapUiMltSepMWL{padding-left:31px;background-repeat:repeat-y;background-position:top left;background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/layout/separationMedium.gif)}.sapUiMltSepL{padding-left:63px}.sapUiMltSepLWL{padding-left:63px;background-repeat:repeat-y;background-position:top left;background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/layout/separationLarge.gif)}
/*SCOPING UI5.sap/zen/commons.open_space_belize--Contrast.library with "sapContrast"*/.sapContrast .sapSvgLibs,.sapSvgLibs.sapContrast{background-image:none,url(../../../../../../Base/baseLib/sap_belize/svg/libs/SAPGUI-icons.svg),url(../../../../../../Base/baseLib/sap_belize/svg/libs/SAPWeb-icons.svg)}.sapContrast .sapSvgLibsDataUri,.sapSvgLibsDataUri.sapContrast{background-image:url("../../../Base/Base/baseLib/sap_belize/svg/libs/SAPWeb-icons.svg)")}.sapContrast .sapSvgIconPositive,.sapSvgIconPositive.sapContrast{fill:#abe2ab!important}.sapContrast .sapSvgIconCritical,.sapSvgIconCritical.sapContrast{fill:#fabd64!important}.sapContrast .sapSvgIconNegative,.sapSvgIconNegative.sapContrast{fill:#f88!important}.sapContrast .ui-helper-reset,.ui-helper-reset.sapContrast{border:0;outline:0}.sapContrast .ui-icon,.ui-icon.sapContrast{text-indent:-99999px}.sapContrast .ui-widget-content,.ui-widget-content.sapContrast{border:1px solid #aaaaaa;background:#fff url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;color:#222}.sapContrast .ui-widget-content a,.ui-widget-content.sapContrast a{color:#222}.sapContrast .ui-widget-header,.ui-widget-header.sapContrast{border:1px solid #aaaaaa;background:#ccc url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;color:#222222}.sapContrast .ui-widget-header a,.ui-widget-header.sapContrast a{color:#222}.sapContrast .ui-state-default,.ui-state-default.sapContrast,.sapContrast .ui-widget-content .ui-state-default,.ui-widget-content.sapContrast .ui-state-default,.sapContrast .ui-widget-header .ui-state-default,.ui-widget-header.sapContrast .ui-state-default{border:1px solid #d3d3d3;background:#e6e6e6 url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;color:#555}.sapContrast .ui-state-default a,.ui-state-default.sapContrast a,.sapContrast .ui-state-default a:link,.ui-state-default.sapContrast a:link,.sapContrast .ui-state-default a:visited,.ui-state-default.sapContrast a:visited{color:#555555}.sapContrast .ui-state-hover,.ui-state-hover.sapContrast,.sapContrast .ui-widget-content .ui-state-hover,.ui-widget-content.sapContrast .ui-state-hover,.sapContrast .ui-widget-header .ui-state-hover,.ui-widget-header.sapContrast .ui-state-hover,.sapContrast .ui-state-focus,.ui-state-focus.sapContrast,.sapContrast .ui-widget-content .ui-state-focus,.ui-widget-content.sapContrast .ui-state-focus,.sapContrast .ui-widget-header .ui-state-focus,.ui-widget-header.sapContrast .ui-state-focus{border:1px solid #999999;background:#dadada url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;color:#212121}.sapContrast .ui-state-hover a,.ui-state-hover.sapContrast a,.sapContrast .ui-state-hover a:hover,.ui-state-hover.sapContrast a:hover{color:#212121}.sapContrast .ui-state-active,.ui-state-active.sapContrast,.sapContrast .ui-widget-content .ui-state-active,.ui-widget-content.sapContrast .ui-state-active,.sapContrast .ui-widget-header .ui-state-active,.ui-widget-header.sapContrast .ui-state-active{border:1px solid #aaaaaa;background:#fff url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;color:#212121}.sapContrast .ui-state-active a,.ui-state-active.sapContrast a,.sapContrast .ui-state-active a:link,.ui-state-active.sapContrast a:link,.sapContrast .ui-state-active a:visited,.ui-state-active.sapContrast a:visited{color:#212121}.sapContrast .ui-state-highlight,.ui-state-highlight.sapContrast,.sapContrast .ui-widget-content .ui-state-highlight,.ui-widget-content.sapContrast .ui-state-highlight,.sapContrast .ui-widget-header .ui-state-highlight,.ui-widget-header.sapContrast .ui-state-highlight{border:1px solid #fcefa1;background:#fbf9ee url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;color:#363636}.sapContrast .ui-state-highlight a,.ui-state-highlight.sapContrast a,.sapContrast .ui-widget-content .ui-state-highlight a,.ui-widget-content.sapContrast .ui-state-highlight a,.sapContrast .ui-widget-header .ui-state-highlight a,.ui-widget-header.sapContrast .ui-state-highlight a{color:#363636}.sapContrast .ui-state-error,.ui-state-error.sapContrast,.sapContrast .ui-widget-content .ui-state-error,.ui-widget-content.sapContrast .ui-state-error,.sapContrast .ui-widget-header .ui-state-error,.ui-widget-header.sapContrast .ui-state-error{border:1px solid #cd0a0a;background:#fef1ec url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;color:#cd0a0a}.sapContrast .ui-state-error a,.ui-state-error.sapContrast a,.sapContrast .ui-widget-content .ui-state-error a,.ui-widget-content.sapContrast .ui-state-error a,.sapContrast .ui-widget-header .ui-state-error a,.ui-widget-header.sapContrast .ui-state-error a{color:#cd0a0a}.sapContrast .ui-state-error-text,.ui-state-error-text.sapContrast,.sapContrast .ui-widget-content .ui-state-error-text,.ui-widget-content.sapContrast .ui-state-error-text,.sapContrast .ui-widget-header .ui-state-error-text,.ui-widget-header.sapContrast .ui-state-error-text{color:#cd0a0a}.sapContrast .ui-state-disabled,.ui-state-disabled.sapContrast,.sapContrast .ui-widget-content .ui-state-disabled,.ui-widget-content.sapContrast .ui-state-disabled,.sapContrast .ui-widget-header .ui-state-disabled,.ui-widget-header.sapContrast .ui-state-disabled{background-image:none}.sapContrast .ui-icon,.ui-icon.sapContrast{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_222222_256x240.png)}.sapContrast .ui-widget-content .ui-icon,.ui-widget-content.sapContrast .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_222222_256x240.png)}.sapContrast .ui-widget-header .ui-icon,.ui-widget-header.sapContrast .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_222222_256x240.png)}.sapContrast .ui-state-default .ui-icon,.ui-state-default.sapContrast .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_888888_256x240.png)}.sapContrast .ui-state-hover .ui-icon,.ui-state-hover.sapContrast .ui-icon,.sapContrast .ui-state-focus .ui-icon,.ui-state-focus.sapContrast .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_454545_256x240.png)}.sapContrast .ui-state-active .ui-icon,.ui-state-active.sapContrast .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_454545_256x240.png)}.sapContrast .ui-state-highlight .ui-icon,.ui-state-highlight.sapContrast .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_2e83ff_256x240.png)}.sapContrast .ui-state-error .ui-icon,.ui-state-error.sapContrast .ui-icon,.sapContrast .ui-state-error-text .ui-icon,.ui-state-error-text.sapContrast .ui-icon{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-icons_cd0a0a_256x240.png)}.sapContrast .ui-widget-overlay,.ui-widget-overlay.sapContrast{background:#aaa url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x}.sapContrast .ui-widget-shadow,.ui-widget-shadow.sapContrast{background:#aaa url(../../../../../../UI5/sap/zen/commons/themes/base/img/jQuery/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x}.sapContrast .sapUiMlt,.sapUiMlt.sapContrast{color:#fafafa}.sapContrast .sapUiMltBgBorder,.sapUiMltBgBorder.sapContrast{background-color:#000}.sapContrast .sapUiMltBgFill1,.sapUiMltBgFill1.sapContrast{background-color:#91c8f6}.sapContrast .sapUiMltBgFill2,.sapUiMltBgFill2.sapContrast{background-color:#808080}.sapContrast .sapUiMltBgFill3,.sapUiMltBgFill3.sapContrast{background-color:#a9a9a9}.sapContrast .sapUiMltBgHeader,.sapUiMltBgHeader.sapContrast{background-color:#91c8f6}.sapContrast .sapUiMltBgPlain,.sapUiMltBgPlain.sapContrast{background-color:#3f5161}.sapContrast .sapUiMltSepSWL,.sapUiMltSepSWL.sapContrast{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/layout/separationSmall.gif)}.sapContrast .sapUiMltSepMWL,.sapUiMltSepMWL.sapContrast{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/layout/separationMedium.gif)}.sapContrast .sapUiMltSepLWL,.sapUiMltSepLWL.sapContrast{background-image:url(../../../../../../UI5/sap/zen/commons/themes/base/img/layout/separationLarge.gif)}

/* Inline theming parameters */
#sap-ui-theme-sap\.zen\.commons{background-image:url('data:text/plain;utf-8,%7B%22default%22%3A%7B%7D%2C%22scopes%22%3A%7B%22sapContrast%22%3A%7B%7D%7D%7D')}