/* Enter your custom styles here */

.settingsPanel {
    padding-bottom: 0 !important;
}

.settingsLabel {
    margin-bottom: 2px;
}

.settingsVBox {
    width: 150px;
}

.settingsRadio {
    margin: -3px 0 -3px -7px;
    width: 150px;
}

.settingsRadio .sapMRbBLabel{
    padding-left: 2.95rem;
}

.settingsSwitch{
    margin-top: 1px;
    width: 150px;
}

.settingsHBox {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.settingsSelect {
    margin-top: 7px;
    height: 36px;
}

.settingsAdjust {
    margin: -3px 0 -3px -7px;
    width: 180px;
}

tr[data-valuation=""]{	
  background: #ff9933!important;
}
		
tr[data-valuation="R"]{
  background: #ff3333!important;
}

tr[data-valuation="A"]{
  background: #33cc33!important;
}
.machineTile .sapMGTHdrTxt .sapMText{
	background-color: #354a5f;
	font-size: 2.75rem;
}
.machineTile>.sapMGTHdrTxt>.sapMText{
	/*background-color: #354a5f;*/
	font:2rem;
}