/**
* Copyright (c) 2012-2019 SAP SE, All Rights Reserved
* Theming Engine 1.54.0
* data:{"sModified":"2021-12-10T13:21:25Z","sCheck":"H0.01-2f61ad4e"}
*/

@import "custom.less";

/******************* FILE /Base/baseLib/open_space_belize/base.less (Version 11.1.21) *******************/

@sapCompanyLogo: url("./img/misc/sapCompanyLogo.png");
@sapBrandColor: #000000;
@sapBaseColor: #7d8890;
@sapShell_BackgroundImage: url("./img/misc/sapShell_BackgroundImage.jpeg");
