/* Copyright (c) 2012-2019 SAP SE, All Rights Reserved.  Theming Engine 1.54.0 */
@sapBrandColor: #000000;
@sapHighlightColor: #000000;
@sapBaseColor: #7d8890;
@sapShellColor: transparent;
@sapBackgroundColor: #fafafa;
@sapFontFamily: "72", "72full", Arial, Helvetica, sans-serif;
@sapFontLightFamily: "72-Light", "72-Lightfull", "72", "72full", Arial, Helvetica, sans-serif;
@sapFontBoldFamily: "72-Bold", "72-Boldfull", "72", "72full", Arial, Helvetica, sans-serif;
@sapFontHeaderFamily: "72", "72full", Arial, Helvetica, sans-serif;
@sapFontSize: .875rem;
@sapFontSmallSize: .75rem;
@sapFontLargeSize: 1rem;
@sapFontHeader1Size: 1.625rem;
@sapFontHeader2Size: 1.375rem;
@sapFontHeader3Size: 1.25rem;
@sapFontHeader4Size: 1.125rem;
@sapFontHeader5Size: 1rem;
@sapFontHeader6Size: .875rem;
@sapTextColor: #333333;
@sapLinkColor: #0070b1;
@sapLink_Hover_Color: #0070b1;
@sapLink_Active_Color: #0070b1;
@sapLink_Visited_Color: #0070b1;
@sapLink_InvertedColor: #7ed0ff;
@sapLink_SubtleColor: #004065;
@sapCompanyLogo: url('../../../Base/baseLib/open_space_belize/img/misc/sapCompanyLogo.png');
@sapBackgroundImage: none;
@sapBackgroundImageOpacity: 1.0;
@sapBackgroundImageRepeat: false;
@sapSelectedColor: #000000;
@sapActiveColor: #000000;
@sapHighlightTextColor: #fff;
@sapTitleColor: #333333;
@sapNegativeColor: #bb0000;
@sapCriticalColor: #e78c07;
@sapPositiveColor: #2b7c2b;
@sapInformativeColor: #427cac;
@sapNeutralColor: #5e696e;
@sapNegativeElementColor: #bb0000;
@sapCriticalElementColor: #e78c07;
@sapPositiveElementColor: #2b7c2b;
@sapInformativeElementColor: #427cac;
@sapNeutralElementColor: #5e696e;
@sapNegativeTextColor: #bb0000;
@sapPositiveTextColor: #2b7c2b;
@sapCriticalTextColor: #e78c07;
@sapInformativeTextColor: #427cac;
@sapNeutralTextColor: #5e696e;
@sapNeutralBorderColor: #5e696e;
@sapErrorColor: #e00;
@sapErrorBorderColor: #e00;
@sapWarningColor: #f9a429;
@sapWarningBorderColor: #f9a429;
@sapSuccessColor: #38a238;
@sapSuccessBorderColor: #38a238;
@sapInformationColor: #427cac;
@sapInformationBorderColor: #427cac;
@sapErrorBackground: #ffe4e4;
@sapWarningBackground: #fef0db;
@sapSuccessBackground: #e4f5e4;
@sapInformationBackground: #ebf2f7;
@sapNeutralBackground: #f4f5f6;
@sapIndicationColor_1: #880000;
@sapIndicationColor_1_Hover_Background: #6f0000;
@sapIndicationColor_1_Active_Background: #500;
@sapIndicationColor_1_TextColor: #fff;
@sapIndicationColor_2: #bb0000;
@sapIndicationColor_2_Hover_Background: #a20000;
@sapIndicationColor_2_Active_Background: #800;
@sapIndicationColor_2_TextColor: #fff;
@sapIndicationColor_3: #e78c07;
@sapIndicationColor_3_Hover_Background: #d88307;
@sapIndicationColor_3_Active_Background: #c97a06;
@sapIndicationColor_3_TextColor: #fff;
@sapIndicationColor_4: #2b7c2b;
@sapIndicationColor_4_Hover_Background: #246924;
@sapIndicationColor_4_Active_Background: #1e561e;
@sapIndicationColor_4_TextColor: #fff;
@sapIndicationColor_5: #427cac;
@sapIndicationColor_5_Hover_Background: #3b6f9a;
@sapIndicationColor_5_Active_Background: #346187;
@sapIndicationColor_5_TextColor: #fff;
@sapIndicationColor_6: #1a9898;
@sapIndicationColor_6_Hover_Background: #168282;
@sapIndicationColor_6_Active_Background: #136c6c;
@sapIndicationColor_6_TextColor: #fff;
@sapIndicationColor_7: #925ace;
@sapIndicationColor_7_Hover_Background: #8546c8;
@sapIndicationColor_7_Active_Background: #7838bd;
@sapIndicationColor_7_TextColor: #fff;
@sapIndicationColor_8: #ab218e;
@sapIndicationColor_8_Hover_Background: #961d7c;
@sapIndicationColor_8_Active_Background: #80196a;
@sapIndicationColor_8_TextColor: #fff;
@sapElement_LineHeight: 3rem;
@sapElement_Height: 2.5rem;
@sapElement_BorderWidth: .0625rem;
@sapElement_BorderCornerRadius: .25rem;
@sapElement_Compact_LineHeight: 2rem;
@sapElement_Compact_Height: 1.625rem;
@sapElement_Condensed_LineHeight: 1.5rem;
@sapElement_Condensed_Height: 1.375rem;
@sapContent_LineHeight: 1.4;
@sapContent_IconHeight: 1rem;
@sapContent_IconColor: #000;
@sapContent_ContrastIconColor: #fff;
@sapContent_NonInteractiveIconColor: #878787;
@sapContent_MarkerIconColor: #678bc7;
@sapContent_MarkerTextColor: #147575;
@sapContent_ImagePlaceholderBackground: #677178;
@sapContent_ImagePlaceholderForegroundColor: #8b959c;
@sapContent_RatedColor: #e09d00;
@sapContent_UnratedColor: #a5a5a5;
@sapContent_FocusColor: #000;
@sapContent_FocusStyle: dotted;
@sapContent_FocusWidth: .0625rem;
@sapContent_ContrastFocusColor: #fff;
@sapContent_ShadowColor: #000;
@sapContent_ContrastShadowColor: #fff;
@sapContent_Shadow0: 0 0 0 1px rgba(0,0,0,0.15);
@sapContent_Shadow1: 0 0.125rem 0.5rem 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.15);
@sapContent_Shadow2: 0 0.625rem 1.875rem 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.15);
@sapContent_Shadow3: 0 1.25rem 5rem 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.15);
@sapContent_TextShadow: 0 0 0.125rem #fff;
@sapContent_HeaderShadow: 0 0.125rem 0 0 #7d8890, inset 0 -0.125rem 0 0 #939ca3;
@sapContent_SearchHighlightColor: #d4f7db;
@sapContent_HelpColor: #3f8600;
@sapContent_LabelColor: #666;
@sapContent_MonospaceFontFamily: lucida console, monospace;
@sapContent_DisabledTextColor: rgba(51,51,51,0.5);
@sapContent_DisabledOpacity: 0.5;
@sapContent_ContrastTextThreshold: 0.65;
@sapContent_ContrastTextColor: #fff;
@sapContent_ForegroundColor: #e5e5e5;
@sapContent_ForegroundBorderColor: #bfbfbf;
@sapContent_ForegroundTextColor: #333;
@sapContent_BadgeBackground: #c14646;
@sapContent_BadgeTextColor: #fff;
@sapContent_Placeholderloading_Background: #606970;
@sapContent_Placeholderloading_Gradient: linear-gradient(to right, #606970 0%, #606970 35%, #545c62 50%, #606970 65%, #606970 100%);
@sapContent_DragAndDropActiveColor: #0070b1;
@sapContent_Selected_Background: #000000;
@sapContent_Selected_TextColor: #fff;
@sapContent_Selected_Hover_Background: #080808;
@sapContent_Illustrative_Color1: #427cac;
@sapContent_Illustrative_Color2: #93b7d6;
@sapContent_Illustrative_Color3: #ffba10;
@sapContent_Illustrative_Color4: #4a5055;
@sapContent_Illustrative_Color5: #9da4aa;
@sapContent_Illustrative_Color6: #c6cace;
@sapContent_Illustrative_Color7: #e7e9ea;
@sapContent_Illustrative_Color8: #ffffff;
@sapShell_Background: #686b6d;
@sapShell_BackgroundImage: url('../../../Base/baseLib/open_space_belize/img/misc/sapShell_BackgroundImage.jpeg');
@sapShell_BackgroundGradient: url('../../../Base/baseLib/open_space_belize/img/misc/sapShell_BackgroundImage.jpeg');
@sapShell_BackgroundImageOpacity: 1.0;
@sapShell_BackgroundImageRepeat: false;
@sapShell_BorderColor: transparent;
@sapShell_TextColor: #000;
@sapShell_InteractiveTextColor: #000;
@sapShell_InteractiveBorderColor: #bfbfbf;
@sapShell_GroupTitleTextColor: #333333;
@sapShell_Hover_Background: #000;
@sapShell_Active_Background: #000000;
@sapShell_Active_TextColor: #fff;
@sapShell_Selected_Background: #000000;
@sapShell_Selected_TextColor: #fff;
@sapShell_Selected_Hover_Background: #000000;
@sapShell_Favicon: none;
@sapShell_Navigation_Background: transparent;
@sapShell_Navigation_SelectedColor: #000;
@sapShell_Navigation_Selected_TextColor: #000;
@sapShell_Navigation_TextColor: #333333;
@sapShell_Shadow: 0 0.125rem 0 0 #5c5e60;
@sapButton_BorderWidth: .0625rem;
@sapButton_BorderCornerRadius: .1875rem;
@sapButton_Background: #f7f7f7;
@sapButton_BorderColor: #ababab;
@sapButton_TextColor: #000;
@sapButton_Hover_Background: #eaeaea;
@sapButton_Hover_BorderColor: #ababab;
@sapButton_Hover_TextColor: #000;
@sapButton_IconColor: #000;
@sapButton_Active_Background: #000000;
@sapButton_Active_BorderColor: #000000;
@sapButton_Active_TextColor: #fff;
@sapButton_Emphasized_Background: #1a1a1a;
@sapButton_Emphasized_BorderColor: #0d0d0d;
@sapButton_Emphasized_TextColor: #fff;
@sapButton_Emphasized_Hover_Background: #0d0d0d;
@sapButton_Emphasized_Hover_BorderColor: #0d0d0d;
@sapButton_Emphasized_Hover_TextColor: #fff;
@sapButton_Emphasized_Active_Background: #000000;
@sapButton_Emphasized_Active_BorderColor: #000000;
@sapButton_Emphasized_TextShadow: rgba(0,0,0,0.5);
@sapButton_Accept_Background: #f7f7f7;
@sapButton_Accept_BorderColor: #2b7c2b;
@sapButton_Accept_Hover_Background: #eaeaea;
@sapButton_Accept_Hover_BorderColor: #2b7c2b;
@sapButton_Accept_Hover_TextColor: #2b7c2b;
@sapButton_Accept_Active_Background: #2b7c2b;
@sapButton_Accept_Active_BorderColor: #2b7c2b;
@sapButton_Accept_TextColor: #2b7c2b;
@sapButton_Accept_Selected_Background: #2b7c2b;
@sapButton_Accept_Selected_BorderColor: #2b7c2b;
@sapButton_Accept_Selected_TextColor: #fff;
@sapButton_Accept_Selected_Hover_Background: #328f32;
@sapButton_Accept_Selected_Hover_BorderColor: #328f32;
@sapButton_Reject_Background: #f7f7f7;
@sapButton_Reject_BorderColor: #bb0000;
@sapButton_Reject_Hover_Background: #eaeaea;
@sapButton_Reject_Hover_BorderColor: #bb0000;
@sapButton_Reject_Hover_TextColor: #b00;
@sapButton_Reject_Active_Background: #bb0000;
@sapButton_Reject_Active_BorderColor: #bb0000;
@sapButton_Reject_TextColor: #b00;
@sapButton_Reject_Selected_Background: #bb0000;
@sapButton_Reject_Selected_BorderColor: #bb0000;
@sapButton_Reject_Selected_TextColor: #fff;
@sapButton_Reject_Selected_Hover_Background: #d40000;
@sapButton_Reject_Selected_Hover_BorderColor: #d40000;
@sapButton_Lite_Background: transparent;
@sapButton_Lite_BorderColor: transparent;
@sapButton_Lite_TextColor: #000;
@sapButton_Lite_Hover_Background: rgba(178,178,178,0.5);
@sapButton_Lite_Hover_BorderColor: transparent;
@sapButton_Lite_Hover_TextColor: #000;
@sapButton_Lite_Active_Background: #000000;
@sapButton_Lite_Active_BorderColor: #000000;
@sapButton_Selected_Background: #000;
@sapButton_Selected_BorderColor: #000;
@sapButton_Selected_TextColor: #fff;
@sapButton_Selected_Hover_Background: #1a1a1a;
@sapButton_Selected_Hover_BorderColor: #1a1a1a;
@sapButton_Attention_Background: #f7f7f7;
@sapButton_Attention_BorderColor: #e78c07;
@sapButton_Attention_TextColor: #e78c07;
@sapButton_Attention_Hover_Background: #fef0db;
@sapButton_Attention_Hover_BorderColor: #e78c07;
@sapButton_Attention_Hover_TextColor: #e78c07;
@sapButton_Attention_Active_Background: #ce7d06;
@sapButton_Attention_Active_BorderColor: #ce7d06;
@sapButton_Attention_Selected_Background: #ce7d06;
@sapButton_Attention_Selected_BorderColor: #ce7d06;
@sapButton_Attention_Selected_TextColor: #fff;
@sapButton_Attention_Selected_Hover_Background: #e78c07;
@sapButton_Attention_Selected_Hover_BorderColor: #e78c07;
@sapButton_Negative_Background: #bb0000;
@sapButton_Negative_BorderColor: #bb0000;
@sapButton_Negative_TextColor: #fff;
@sapButton_Negative_Hover_Background: #970000;
@sapButton_Negative_Hover_BorderColor: #970000;
@sapButton_Negative_Hover_TextColor: #fff;
@sapButton_Negative_Active_Background: #800;
@sapButton_Negative_Active_BorderColor: #800;
@sapButton_Critical_Background: #e78c07;
@sapButton_Critical_BorderColor: #e78c07;
@sapButton_Critical_TextColor: #fff;
@sapButton_Critical_Hover_Background: #c47706;
@sapButton_Critical_Hover_BorderColor: #c47706;
@sapButton_Critical_Hover_TextColor: #fff;
@sapButton_Critical_Active_Background: #b66e06;
@sapButton_Critical_Active_BorderColor: #b66e06;
@sapButton_Success_Background: #2b7c2b;
@sapButton_Success_BorderColor: #2b7c2b;
@sapButton_Success_TextColor: #fff;
@sapButton_Success_Hover_Background: #226122;
@sapButton_Success_Hover_BorderColor: #226122;
@sapButton_Success_Hover_TextColor: #fff;
@sapButton_Success_Active_Background: #1e561e;
@sapButton_Success_Active_BorderColor: #1e561e;
@sapButton_Information_Background: #427cac;
@sapButton_Information_BorderColor: #427cac;
@sapButton_Information_TextColor: #fff;
@sapButton_Information_Hover_Background: #3b6f9a;
@sapButton_Information_Hover_BorderColor: #3b6f9a;
@sapButton_Information_Hover_TextColor: #fff;
@sapButton_Information_Active_Background: #346187;
@sapButton_Information_Active_BorderColor: #346187;
@sapButton_Neutral_Background: #5e696e;
@sapButton_Neutral_BorderColor: #5e696e;
@sapButton_Neutral_TextColor: #fff;
@sapButton_Neutral_Hover_Background: #4e575b;
@sapButton_Neutral_Hover_BorderColor: #4e575b;
@sapButton_Neutral_Hover_TextColor: #fff;
@sapButton_Neutral_Active_Background: #474f53;
@sapButton_Neutral_Active_BorderColor: #474f53;
@sapButton_Track_Selected_Background: #000;
@sapButton_Track_Selected_TextColor: #fff;
@sapButton_Track_Background: #fff;
@sapButton_Track_TextColor: #333;
@sapButton_TokenBackground: #f7f7f7;
@sapButton_TokenBorderColor: #dedede;
@sapField_Background: #ffffff;
@sapField_TextColor: #000;
@sapField_PlaceholderTextColor: #757575;
@sapField_BorderColor: #bfbfbf;
@sapField_HelpBackground: #ffffff;
@sapField_BorderWidth: .0625rem;
@sapField_BorderCornerRadius: 0;
@sapField_Hover_Background: #ffffff;
@sapField_Hover_BorderColor: #000000;
@sapField_Hover_HelpBackground: #000000;
@sapField_Active_BorderColor: #000000;
@sapField_Focus_Background: #ffffff;
@sapField_Focus_BorderColor: #bfbfbf;
@sapField_Focus_HelpBackground: #ffffff;
@sapField_ReadOnly_Background: rgba(242,242,242,0.5);
@sapField_ReadOnly_BorderColor: #ccc;
@sapField_ReadOnly_HelpBackground: rgba(242,242,242,0.5);
@sapField_RequiredColor: #c14646;
@sapField_InvalidColor: #e00;
@sapField_InvalidBackground: #ffffff;
@sapField_WarningColor: #f9a429;
@sapField_WarningBackground: #ffffff;
@sapField_SuccessColor: #38a238;
@sapField_SuccessBackground: #ffffff;
@sapField_InformationColor: #427cac;
@sapField_InformationBackground: #ffffff;
@sapGroup_TitleBackground: transparent;
@sapGroup_TitleBorderColor: #ccc;
@sapGroup_TitleTextColor: #333;
@sapGroup_ContentBackground: #fff;
@sapGroup_ContentBorderColor: #ebebeb;
@sapGroup_BorderWidth: .0625rem;
@sapGroup_BorderCornerRadius: 0;
@sapGroup_FooterBackground: transparent;
@sapToolbar_Background: transparent;
@sapToolbar_SeparatorColor: rgba(63,81,97,0.2);
@sapList_HeaderBackground: #f7f7f7;
@sapList_HeaderBorderColor: #e5e5e5;
@sapList_HeaderTextColor: #333;
@sapList_BorderColor: #e5e5e5;
@sapList_TextColor: #333;
@sapList_Active_TextColor: #fff;
@sapList_BorderWidth: .0625rem;
@sapList_Active_Background: #000000;
@sapList_SelectionBackgroundColor: #787878;
@sapList_SelectionBorderColor: #e5e5e5;
@sapList_Hover_SelectionBackground: #707070;
@sapList_Background: #ffffff;
@sapList_Hover_Background: #f0f0f0;
@sapList_AlternatingBackground: #fafafa;
@sapList_GroupHeaderBackground: #ffffff;
@sapList_GroupHeaderBorderColor: #ccc;
@sapList_GroupHeaderTextColor: #147575;
@sapList_FooterBackground: #677178;
@sapList_FooterTextColor: #fff;
@sapList_TableGroupHeaderBackground: #f2f2f2;
@sapList_TableGroupHeaderBorderColor: #ccc;
@sapList_TableGroupHeaderTextColor: #147575;
@sapList_TableFooterBorder: #ccc;
@sapList_TableFixedBorderColor: #999;
@sapScrollBar_FaceColor: #b2b2b2;
@sapScrollBar_TrackColor: #fff;
@sapScrollBar_BorderColor: #b2b2b2;
@sapScrollBar_SymbolColor: #000;
@sapScrollBar_Dimension: .7rem;
@sapScrollBar_Hover_FaceColor: #aaa;
@sapPageHeader_Background: #7d8890;
@sapPageHeader_BorderColor: #69747b;
@sapPageHeader_TextColor: #fff;
@sapPageFooter_Background: #ffffff;
@sapPageFooter_BorderColor: #ebebeb;
@sapPageFooter_TextColor: #333;
@sapInfobar_Background: #168282;
@sapInfobar_Hover_Background: #147575;
@sapInfobar_Active_Background: #000000;
@sapObjectHeader_Background: #7d8890;
@sapObjectHeader_BorderColor: #939ca3;
@sapBlockLayer_Background: #000;
@sapTile_Background: #ffffff;
@sapTile_Hover_Background: #f7f7f7;
@sapTile_Active_Background: #f7f7f7;
@sapTile_BorderColor: transparent;
@sapTile_TitleTextColor: #333;
@sapTile_TextColor: #666;
@sapTile_IconColor: #575757;
@sapTile_SeparatorColor: #ccc;
@sapAccentColor1: #e09d00;
@sapAccentColor2: #e6600d;
@sapAccentColor3: #c14646;
@sapAccentColor4: #ab218e;
@sapAccentColor5: #678bc7;
@sapAccentColor6: #0092d1;
@sapAccentColor7: #1a9898;
@sapAccentColor8: #759421;
@sapAccentColor9: #925ace;
@sapAccentColor10: #647987;
@sapLegend_WorkingBackground: #f7f7f7;
@sapLegend_NonWorkingBackground: #f7f7f7;
@sapLegend_CurrentDateTime: #ab218e;
@sapLegendColor1: #ad7900;
@sapLegendColor2: #dc5c0c;
@sapLegendColor3: #c14646;
@sapLegendColor4: #853808;
@sapLegendColor5: #da3fb9;
@sapLegendColor6: #008bc7;
@sapLegendColor7: #198f8f;
@sapLegendColor8: #6e8c1f;
@sapLegendColor9: #648796;
@sapLegendColor10: #80196a;
@sapLegendColor11: #6f5925;
@sapLegendColor12: #b64600;
@sapLegendColor13: #d61818;
@sapLegendColor14: #976c52;
@sapLegendColor15: #73596d;
@sapLegendColor16: #5d759e;
@sapLegendColor17: #466c6c;
@sapLegendColor18: #626b4a;
@sapLegendColor19: #284d5d;
@sapLegendColor20: #1851b0;
@sapLegendBackgroundColor1: #fff6e0;
@sapLegendBackgroundColor2: #feeee5;
@sapLegendBackgroundColor3: #f7e6e6;
@sapLegendBackgroundColor4: #f9efe9;
@sapLegendBackgroundColor5: #fdf2fa;
@sapLegendBackgroundColor6: #ebf3fa;
@sapLegendBackgroundColor7: #f2fdfd;
@sapLegendBackgroundColor8: #f3f9e4;
@sapLegendBackgroundColor9: #f1f3f4;
@sapLegendBackgroundColor10: #f7edf5;
@sapLegendBackgroundColor11: #ffeec6;
@sapLegendBackgroundColor12: #fbdfce;
@sapLegendBackgroundColor13: #ffdcdc;
@sapLegendBackgroundColor14: #f2e2d8;
@sapLegendBackgroundColor15: #f0e5ee;
@sapLegendBackgroundColor16: #e7e8ea;
@sapLegendBackgroundColor17: #d7eaea;
@sapLegendBackgroundColor18: #e6edd1;
@sapLegendBackgroundColor19: #f0f7fa;
@sapLegendBackgroundColor20: #f0f7fa;
@sapChart_OrderedColor_1: #5899da;
@sapChart_OrderedColor_2: #e8743b;
@sapChart_OrderedColor_3: #19a979;
@sapChart_OrderedColor_4: #ed4a7b;
@sapChart_OrderedColor_5: #945ecf;
@sapChart_OrderedColor_6: #13a4b4;
@sapChart_OrderedColor_7: #525df4;
@sapChart_OrderedColor_8: #bf399e;
@sapChart_OrderedColor_9: #6c8893;
@sapChart_OrderedColor_10: #ee6868;
@sapChart_OrderedColor_11: #2f6497;
@sapChart_Bad: #dc0d0e;
@sapChart_Critical: #de890d;
@sapChart_Good: #3fa45b;
@sapChart_Neutral: #848f94;
@sapChart_Sequence_1: #5899da;
@sapChart_Sequence_2: #e8743b;
@sapChart_Sequence_3: #19a979;
@sapChart_Sequence_4: #ed4a7b;
@sapChart_Sequence_5: #945ecf;
@sapChart_Sequence_6: #13a4b4;
@sapChart_Sequence_7: #525df4;
@sapChart_Sequence_8: #bf399e;
@sapChart_Sequence_9: #6c8893;
@sapChart_Sequence_10: #ee6868;
@sapChart_Sequence_11: #2f6497;
@sapChart_Sequence_Neutral: #848f94;
@sapFontUrl_SAP-icons_ttf: url('../../../Base/baseLib/sap_belize/fonts/SAP-icons.ttf');
@sapFontUrl_SAP-icons_woff: url('../../../Base/baseLib/sap_belize/fonts/SAP-icons.woff');
@sapFontUrl_SAP-icons_woff2: url('../../../Base/baseLib/sap_belize/fonts/SAP-icons.woff2');
@sapFontUrl_72_Regular_woff2: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Regular.woff2');
@sapFontUrl_72_Regular_woff: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Regular.woff');
@sapFontUrl_72_Bold_woff2: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold.woff2');
@sapFontUrl_72_Bold_woff: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold.woff');
@sapFontUrl_72_Light_woff2: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light.woff2');
@sapFontUrl_72_Light_woff: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light.woff');
@sapFontUrl_72_Regular_full_woff2: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff2');
@sapFontUrl_72_Regular_full_woff: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff');
@sapFontUrl_72_Bold_full_woff2: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff2');
@sapFontUrl_72_Bold_full_woff: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff');
@sapFontUrl_72_Light_full_woff2: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff2');
@sapFontUrl_72_Light_full_woff: url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff');