/**
* Copyright (c) 2012-2019 SAP SE, All Rights Reserved
*
* Theming Engine 1.54.0
* data:{"Path": "Base.baseLib.open_space_belize.preview", "PathPattern": "/%frameworkId%/%libId%/%themeId%/%fileId%.css", "Extends": ["sap_belize","sap_base_fiori","baseTheme"], "Tags": ["Fiori_2","Fiori_3"], "Version": { "Build":"11.1.21.20211210142125", "Source": "11.1.21", "Engine": "1.54.0"}}
*/

.sapThemeMetaData-Base-baseLib{background-image: url('data:text/plain;utf-8,{"Path": "Base.baseLib.open_space_belize.preview", "PathPattern": "/%frameworkId%/%libId%/%themeId%/%fileId%.css", "Extends": ["sap_belize","sap_base_fiori","baseTheme"], "Tags": ["Fiori_2","Fiori_3"], "Version": { "Build":"11.1.21.20211210142125", "Source": "11.1.21", "Engine": "1.54.0"}}');}

/*Base.baseLib.baseTheme.base*/@font-face{font-family:'72';font-style:normal;font-weight:300;src:local('72-Light'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light.woff2') format('woff2'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light.woff') format('woff')}@font-face{font-family:'72';font-style:normal;font-weight:400;src:local('72'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Regular.woff2') format('woff2'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Regular.woff') format('woff')}@font-face{font-family:'72';font-style:normal;font-weight:700;src:local('72-Bold'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold.woff2') format('woff2'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold.woff') format('woff')}@font-face{font-family:'72full';font-style:normal;font-weight:300;src:url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff2') format('woff2'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff') format('woff')}@font-face{font-family:'72full';font-style:normal;font-weight:400;src:url('../../../Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff2') format('woff2'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff') format('woff')}@font-face{font-family:'72full';font-style:normal;font-weight:700;src:url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff2') format('woff2'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff') format('woff')}@font-face{font-family:'72-Light';src:local('72-Light'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light.woff2') format('woff2'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light.woff') format('woff')}@font-face{font-family:'72-Lighfull';src:url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff2') format('woff2'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff') format('woff')}@font-face{font-family:'72-Bold';src:local('72-Bold'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold.woff2') format('woff2'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold.woff') format('woff')}@font-face{font-family:'72-Boldfull';src:url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff2') format('woff2'),url('../../../Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff') format('woff')}.sapSvgLibs{background-image:none,url('../../../Base/baseLib/sap_belize/svg/libs/SAPGUI-icons.svg'),url('../../../Base/baseLib/sap_belize/svg/libs/SAPWeb-icons.svg')}.sapSvgLibsDataUri{background-image:url("data:text/plain;utf-8,none,url('../../../Base/baseLib/sap_belize/svg/libs/SAPGUI-icons.svg'),url('../../../Base/baseLib/sap_belize/svg/libs/SAPWeb-icons.svg')")}.sapSvgIconPositive{fill:#2b7c2b!important}.sapSvgIconCritical{fill:#e78c07!important}.sapSvgIconNegative{fill:#bb0000!important}
/*Base.baseLib.baseTheme.preview*/
/*Base.baseLib.sap_base_fiori.base*/
/*Base.baseLib.sap_base_fiori.preview*/
/*Base.baseLib.sap_belize.base*/
/*Base.baseLib.sap_belize.preview*/
/*Base.baseLib.open_space_belize.custom*/
/*Base.baseLib.open_space_belize.base*/
/*Base.baseLib.open_space_belize.preview*/