
.sapContrast .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn:focus,
.sapMTimePickerDropDown.sapContrast .sapMTimePickerContainer .sapMTPColumn:focus {
  outline: none;
}
html.sap-phone  .sapContrast .sapMTimePicker .sapUiIcon,
html.sap-phone  .sapMTimePicker.sapContrast .sapUiIcon {
  color: #cae4fb;
}
html.sap-phone  .sapContrast .sapMTimePicker .sapUiIcon:focus,
html.sap-phone  .sapMTimePicker.sapContrast .sapUiIcon:focus {
  background-color: rgba(99, 127, 153, 0.5);
  outline: 1px dotted #ffffff;
}
html.sap-phone  .sapContrast .sapMTimePicker .sapUiIcon:active,
html.sap-phone  .sapMTimePicker.sapContrast .sapUiIcon:active {
  background-color: #91c8f6;
  color: #2f3c48;
  outline: 1px dotted #000000;
}
html.sap-phone  .sapContrast .sapMTimePicker.sapMTPInputActive .sapMInputBaseInner,
html.sap-phone  .sapMTimePicker.sapMTPInputActive.sapContrast .sapMInputBaseInner {
  border: 1px solid #91c8f6;
}
html.sap-phone  .sapContrast .sapMTimePicker.sapMTPInputActive .sapUiIcon,
html.sap-phone  .sapMTimePicker.sapMTPInputActive.sapContrast .sapUiIcon {
  background-color: #91c8f6;
  color: #2f3c48;
}
html.sap-phone  .sapContrast .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTimePickerContainerLabel,
html.sap-phone  .sapMTimePickerDropDown.sapContrast .sapMTimePickerContainer .sapMTimePickerContainerLabel {
  color: #ab218e;
}
html.sap-phone  .sapContrast .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerLabel,
html.sap-phone  .sapMTimePickerDropDown.sapContrast .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerLabel {
  color: #dddddd;
}
html.sap-phone  .sapContrast .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem,
html.sap-phone  .sapMTimePickerDropDown.sapContrast .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem {
  background: #91c8f6;
  border: 1px solid #3f5161;
  color: #2f3c48;
}
html.sap-phone  .sapContrast .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem:active,
html.sap-phone  .sapMTimePickerDropDown.sapContrast .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem:active {
  background: #91c8f6;
  color: #2f3c48;
}
html.sap-phone  .sapContrast .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem:focus,
html.sap-phone  .sapMTimePickerDropDown.sapContrast .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem:focus {
  outline: 1px dotted #000000;
}
html.sap-phone  .sapContrast .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn.sapMTPSliderExpanded .sapMTimePickerSlider .sapMTimePickerItem,
html.sap-phone  .sapMTimePickerDropDown.sapContrast .sapMTimePickerContainer .sapMTPColumn.sapMTPSliderExpanded .sapMTimePickerSlider .sapMTimePickerItem {
  border: 1px solid #3f5161;
  background: #577086;
  color: #fafafa;
}
html.sap-phone  .sapContrast .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn.sapMTPSliderExpanded .sapMTimePickerSlider .sapMTimePickerItem:focus,
html.sap-phone  .sapMTimePickerDropDown.sapContrast .sapMTimePickerContainer .sapMTPColumn.sapMTPSliderExpanded .sapMTimePickerSlider .sapMTimePickerItem:focus {
  outline: 1px dotted #ffffff;
}
html.sap-phone  .sapContrast .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn.sapMTPSliderExpanded .sapMTimePickerSlider .sapMTPPickerSelectionFrame,
html.sap-phone  .sapMTimePickerDropDown.sapContrast .sapMTimePickerContainer .sapMTPColumn.sapMTPSliderExpanded .sapMTimePickerSlider .sapMTPPickerSelectionFrame {
  border: 2px solid #91c8f6;
}
html.sap-phone  .sapContrast .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn:focus,
html.sap-phone  .sapMTimePickerDropDown.sapContrast .sapMTimePickerContainer .sapMTPColumn:focus {
  outline: none;
}
.sapContrast .sapMTitle,
.sapMTitle.sapContrast {
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}
.sapContrast .sapMIBar-CTX .sapMTitle,
.sapMIBar-CTX.sapContrast .sapMTitle {
  color: #fafafa;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}
.sapContrast .sapMTB-Transparent-CTX .sapMTitle,
.sapMTB-Transparent-CTX.sapContrast .sapMTitle {
  text-shadow: none;
}
.sapContrast .sapMIBar-CTX.sapMFooter-CTX .sapMTitle,
.sapMIBar-CTX.sapMFooter-CTX.sapContrast .sapMTitle {
  color: #fafafa;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}
html.sap-desktop  .sapContrast .sapMToggleBtnPressed,
html.sap-desktop  .sapMToggleBtnPressed.sapContrast,
.sapContrast .sapMToggleBtnPressed,
.sapMToggleBtnPressed.sapContrast,
html.sap-desktop  .sapContrast .sapMIBar-CTX .sapMToggleBtnPressed,
html.sap-desktop  .sapMIBar-CTX.sapContrast .sapMToggleBtnPressed,
.sapContrast .sapMIBar-CTX .sapMToggleBtnPressed,
.sapMIBar-CTX.sapContrast .sapMToggleBtnPressed,
html.sap-desktop  .sapContrast .sapMTB-Transparent-CTX .sapMBtnInner.sapMToggleBtnPressed,
html.sap-desktop  .sapMTB-Transparent-CTX.sapContrast .sapMBtnInner.sapMToggleBtnPressed,
.sapContrast .sapMTB-Transparent-CTX .sapMBtnInner.sapMToggleBtnPressed,
.sapMTB-Transparent-CTX.sapContrast .sapMBtnInner.sapMToggleBtnPressed {
  background-image: none;
  background-color: #62b1f2;
  border-color: #4ba5f0;
  color: #2f3c48;
  text-shadow: none;
}
html.sap-desktop  .sapContrast .sapMToggleBtnPressed.sapMBtnReject,
html.sap-desktop  .sapMToggleBtnPressed.sapMBtnReject.sapContrast,
.sapContrast .sapMToggleBtnPressed.sapMBtnReject,
.sapMToggleBtnPressed.sapMBtnReject.sapContrast,
html.sap-desktop  .sapContrast .sapMIBar-CTX .sapMToggleBtnPressed.sapMBtnReject,
html.sap-desktop  .sapMIBar-CTX.sapContrast .sapMToggleBtnPressed.sapMBtnReject,
.sapContrast .sapMIBar-CTX .sapMToggleBtnPressed.sapMBtnReject,
.sapMIBar-CTX.sapContrast .sapMToggleBtnPressed.sapMBtnReject,
html.sap-desktop  .sapContrast .sapMTB-Transparent-CTX .sapMBtnInner.sapMToggleBtnPressed.sapMBtnReject,
html.sap-desktop  .sapMTB-Transparent-CTX.sapContrast .sapMBtnInner.sapMToggleBtnPressed.sapMBtnReject,
.sapContrast .sapMTB-Transparent-CTX .sapMBtnInner.sapMToggleBtnPressed.sapMBtnReject,
.sapMTB-Transparent-CTX.sapContrast .sapMBtnInner.sapMToggleBtnPressed.sapMBtnReject {
  background-color: #ff8888;
  border-color: #ff6e6e;
  color: #2f3c48;
}
html.sap-desktop  .sapContrast .sapMToggleBtnPressed.sapMBtnAccept,
html.sap-desktop  .sapMToggleBtnPressed.sapMBtnAccept.sapContrast,
.sapContrast .sapMToggleBtnPressed.sapMBtnAccept,
.sapMToggleBtnPressed.sapMBtnAccept.sapContrast,
html.sap-desktop  .sapContrast .sapMIBar-CTX .sapMToggleBtnPressed.sapMBtnAccept,
html.sap-desktop  .sapMIBar-CTX.sapContrast .sapMToggleBtnPressed.sapMBtnAccept,
.sapContrast .sapMIBar-CTX .sapMToggleBtnPressed.sapMBtnAccept,
.sapMIBar-CTX.sapContrast .sapMToggleBtnPressed.sapMBtnAccept,
html.sap-desktop  .sapContrast .sapMTB-Transparent-CTX .sapMBtnInner.sapMToggleBtnPressed.sapMBtnAccept,
html.sap-desktop  .sapMTB-Transparent-CTX.sapContrast .sapMBtnInner.sapMToggleBtnPressed.sapMBtnAccept,
.sapContrast .sapMTB-Transparent-CTX .sapMBtnInner.sapMToggleBtnPressed.sapMBtnAccept,
.sapMTB-Transparent-CTX.sapContrast .sapMBtnInner.sapMToggleBtnPressed.sapMBtnAccept {
  background-color: #abe2ab;
  border-color: #98db98;
  color: #2f3c48;
}
.sapContrast .sapMBtn:hover .sapMBtnHoverable.sapMToggleBtnPressed,
.sapMBtn.sapContrast:hover .sapMBtnHoverable.sapMToggleBtnPressed,
.sapContrast .sapMBtn .sapMBtnHoverable.sapMToggleBtnPressed:hover,
.sapMBtn.sapContrast .sapMBtnHoverable.sapMToggleBtnPressed:hover,
.sapContrast .sapMTB-Transparent-CTX .sapMBtnHoverable.sapMToggleBtnPressed:hover,
.sapMTB-Transparent-CTX.sapContrast .sapMBtnHoverable.sapMToggleBtnPressed:hover {
  background-image: none;
  background-color: #91c8f6;
}
.sapContrast span.sapMBtnInner.sapMToggleBtnPressed .sapMBtnIcon,
span.sapMBtnInner.sapMToggleBtnPressed.sapContrast .sapMBtnIcon,
.sapContrast span.sapMBtnInner.sapMToggleBtnPressed.sapMBtnTransparent > .sapMBtnIcon,
span.sapMBtnInner.sapMToggleBtnPressed.sapMBtnTransparent.sapContrast > .sapMBtnIcon,
html.sap-desktop  .sapContrast .sapMToggleBtnPressed.sapMBtnTransparent > .sapMBtnIcon,
html.sap-desktop  .sapMToggleBtnPressed.sapMBtnTransparent.sapContrast > .sapMBtnIcon {
  color: #2f3c48;
}
.sapContrast .sapMBtn:focus > .sapMBtnInner.sapMToggleBtnPressed.sapMFocusable,
.sapMBtn.sapContrast:focus > .sapMBtnInner.sapMToggleBtnPressed.sapMFocusable {
  outline: 1px dotted #000000;
}
.sapContrast .sapMBtn:focus > .sapMToggleBtnPressed > .sapMBtnFocusDiv,
.sapMBtn.sapContrast:focus > .sapMToggleBtnPressed > .sapMBtnFocusDiv {
  border-color: #000000;
}
.sapContrast .sapMBtn:hover > .sapMBtnHoverable.sapMToggleBtnPressed:not(.sapMBtnActive),
.sapMBtn.sapContrast:hover > .sapMBtnHoverable.sapMToggleBtnPressed:not(.sapMBtnActive),
.sapContrast .sapMBtn .sapMBtnHoverable.sapMToggleBtnPressed:hover,
.sapMBtn.sapContrast .sapMBtnHoverable.sapMToggleBtnPressed:hover {
  background-color: #91c8f6;
  border-color: #4ba5f0;
  color: #2f3c48;
  text-shadow: none;
}
.sapContrast .sapMBtn:hover > .sapMBtnHoverable.sapMToggleBtnPressed:not(.sapMBtnActive).sapMBtnReject,
.sapMBtn.sapContrast:hover > .sapMBtnHoverable.sapMToggleBtnPressed:not(.sapMBtnActive).sapMBtnReject,
.sapContrast .sapMBtn .sapMBtnHoverable.sapMToggleBtnPressed:hover.sapMBtnReject,
.sapMBtn.sapContrast .sapMBtnHoverable.sapMToggleBtnPressed:hover.sapMBtnReject {
  background-color: #ff6e6e;
  border-color: #ff6e6e;
  color: #2f3c48;
}
.sapContrast .sapMBtn:hover > .sapMBtnHoverable.sapMToggleBtnPressed:not(.sapMBtnActive).sapMBtnAccept,
.sapMBtn.sapContrast:hover > .sapMBtnHoverable.sapMToggleBtnPressed:not(.sapMBtnActive).sapMBtnAccept,
.sapContrast .sapMBtn .sapMBtnHoverable.sapMToggleBtnPressed:hover.sapMBtnAccept,
.sapMBtn.sapContrast .sapMBtnHoverable.sapMToggleBtnPressed:hover.sapMBtnAccept {
  background-color: #98db98;
  border-color: #98db98;
  color: #2f3c48;
}
.sapContrast .sapMToken,
.sapMToken.sapContrast {
  background: #435667;
  border: 1px solid #2f3c48;
  border-radius: 0.125rem;
  color: #cae4fb;
}
.sapContrast .sapContrast .sapMToken,
.sapContrast.sapContrast .sapMToken,
.sapContrast .sapContrast.sapMToken,
.sapContrast.sapMToken.sapContrast {
  border: 1px solid #617d96;
}
.sapContrast .sapMToken.sapMTokenReadOnly,
.sapMToken.sapMTokenReadOnly.sapContrast {
  color: #fafafa;
}
html.sap-desktop  .sapContrast .sapMToken:hover,
html.sap-desktop  .sapMToken.sapContrast:hover {
  background: #4f667a;
  border: 1px solid #45596a;
  border-radius: 0.125rem;
}
html.sap-desktop  .sapContrast .sapMToken:focus,
html.sap-desktop  .sapMToken.sapContrast:focus {
  outline: 1px dotted #ffffff;
}
html.sap-desktop  .sapContrast .sapMToken.sapMTokenSelected:focus,
html.sap-desktop  .sapMToken.sapMTokenSelected.sapContrast:focus {
  outline: 1px dotted #000000;
}
html.sap-desktop  .sapContrast .sapContrast .sapMToken:focus,
html.sap-desktop  .sapContrast.sapContrast .sapMToken:focus,
html.sap-desktop  .sapContrast .sapContrast.sapMToken:focus,
html.sap-desktop  .sapContrast.sapMToken.sapContrast:focus {
  outline-color: #ffffff;
}
html[data-sap-ui-browser^="ie"].sap-desktop  .sapContrast .sapMToken:focus .sapMTokenText:before,
html[data-sap-ui-browser^="ie"].sap-desktop  .sapMToken.sapContrast:focus .sapMTokenText:before,
html[data-sap-ui-browser^="ed"].sap-desktop  .sapContrast .sapMToken:focus .sapMTokenText:before,
html[data-sap-ui-browser^="ed"].sap-desktop  .sapMToken.sapContrast:focus .sapMTokenText:before {
  border: 1px dashed #ffffff;
}
html[data-sap-ui-browser^="ie"].sap-desktop  .sapContrast .sapMToken.sapMTokenSelected:focus .sapMTokenText:before,
html[data-sap-ui-browser^="ie"].sap-desktop  .sapMToken.sapMTokenSelected.sapContrast:focus .sapMTokenText:before,
html[data-sap-ui-browser^="ed"].sap-desktop  .sapContrast .sapMToken.sapMTokenSelected:focus .sapMTokenText:before,
html[data-sap-ui-browser^="ed"].sap-desktop  .sapMToken.sapMTokenSelected.sapContrast:focus .sapMTokenText:before {
  border: 1px dashed #000000;
}
.sapContrast .sapMTokenSelected,
.sapMTokenSelected.sapContrast,
.sapContrast .sapMToken.sapMTokenReadOnly.sapMTokenSelected,
.sapMToken.sapMTokenReadOnly.sapMTokenSelected.sapContrast {
  color: #2f3c48;
  background: #62b1f2;
  border: 1px solid #4ba5f0;
  border-radius: 0.125rem;
}
html.sap-desktop  .sapContrast .sapMToken.sapMTokenSelected:hover,
html.sap-desktop  .sapMToken.sapMTokenSelected.sapContrast:hover {
  background: #91c8f6;
  border: 1px solid #91c8f6;
  border-radius: 0.125rem;
}
.sapContrast .sapMTokenSelected .sapMTokenIcon,
.sapMTokenSelected.sapContrast .sapMTokenIcon {
  color: #2f3c48;
}
.sapContrast .sapMTokenIcon,
.sapMTokenIcon.sapContrast {
  color: #cae4fb;
}
html.sap-desktop  .sapContrast .sapMTokenizer:focus,
html.sap-desktop  .sapMTokenizer.sapContrast:focus {
  outline: 1px dotted #ffffff;
}
html[data-sap-ui-browser^="ie"].sap-desktop  .sapContrast .sapMTokenizer:focus:before,
html[data-sap-ui-browser^="ie"].sap-desktop  .sapMTokenizer.sapContrast:focus:before,
html[data-sap-ui-browser^="ed"].sap-desktop  .sapContrast .sapMTokenizer:focus:before,
html[data-sap-ui-browser^="ed"].sap-desktop  .sapMTokenizer.sapContrast:focus:before {
  border: 1px dotted #ffffff;
}
.sapContrast .sapMTokenizer.sapMTokenizerReadonly .sapMToken,
.sapMTokenizer.sapMTokenizerReadonly.sapContrast .sapMToken {
  color: #fafafa;
}
.sapContrast .sapMTokenizer.sapMTokenizerReadonly .sapMToken.sapMTokenSelected,
.sapMTokenizer.sapMTokenizerReadonly.sapContrast .sapMToken.sapMTokenSelected {
  color: #2f3c48;
}
.sapContrast .sapMTB,
.sapMTB.sapContrast {
  background: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #69859d;
}
.sapContrast .sapMTB-Solid-CTX.sapMTB,
.sapMTB-Solid-CTX.sapMTB.sapContrast {
  background: #3c4d5c;
}
.sapContrast .sapMTB-Info-CTX.sapMTB,
.sapMTB-Info-CTX.sapMTB.sapContrast {
  background: #168282;
  color: #ffffff;
  border-bottom: none;
}
.sapContrast .sapMTB-Info-CTX.sapMTBActive:hover,
.sapMTB-Info-CTX.sapMTBActive.sapContrast:hover {
  background: #147575;
}
.sapContrast .sapMTB-Info-CTX.sapMTBActive:active,
.sapMTB-Info-CTX.sapMTBActive.sapContrast:active {
  background: #427cac;
}
html.sap-desktop  .sapContrast .sapMTB-Info-CTX.sapMTBActive:focus,
html.sap-desktop  .sapMTB-Info-CTX.sapMTBActive.sapContrast:focus {
  outline: 1px dotted #000000;
}
html[data-sap-ui-browser^="ie"].sap-desktop  .sapContrast .sapMTB-Info-CTX.sapMTBActive:focus,
html[data-sap-ui-browser^="ie"].sap-desktop  .sapMTB-Info-CTX.sapMTBActive.sapContrast:focus {
  outline: none;
}
html[data-sap-ui-browser^="ie"].sap-desktop  .sapContrast .sapMTB-Info-CTX.sapMTBActive:focus:before,
html[data-sap-ui-browser^="ie"].sap-desktop  .sapMTB-Info-CTX.sapMTBActive.sapContrast:focus:before {
  border: 0.0625rem dashed #000000;
}
.sapContrast .sapMTBSeparator,
.sapMTBSeparator.sapContrast {
  background: rgba(239, 244, 249, 0.2);
}
.sapContrast .sapMLIB.sapMUCListSingleItem,
.sapMLIB.sapMUCListSingleItem.sapContrast,
.sapContrast .sapMLIB.sapMUCListFirstItem,
.sapMLIB.sapMUCListFirstItem.sapContrast,
.sapContrast .sapMLIB.sapMUCListLastItem,
.sapMLIB.sapMUCListLastItem.sapContrast,
.sapContrast .sapMLIB.sapMUCListItem,
.sapMLIB.sapMUCListItem.sapContrast {
  border-bottom-color: #4d6377;
}
.sapContrast .sapMUCItemIcon,
.sapMUCItemIcon.sapContrast {
  color: #cae4fb;
}
.sapContrast .sapMUCItemIconInactive,
.sapMUCItemIconInactive.sapContrast {
  color: #97aabb;
}
.sapContrast .sapMUCItemPlaceholder,
.sapMUCItemPlaceholder.sapContrast {
  color: #cae4fb;
}
.sapContrast .sapMUCItemPlaceholderInactive,
.sapMUCItemPlaceholderInactive.sapContrast {
  color: #97aabb;
}
.sapContrast .sapMLnkDsbl.sapMUCFileName,
.sapMLnkDsbl.sapMUCFileName.sapContrast {
  color: #fafafa;
}
.sapContrast .sapMBtnDisabled.sapMUCDeleteBtn > .sapMBtnInner > .sapMBtnIcon,
.sapMBtnDisabled.sapMUCDeleteBtn.sapContrast > .sapMBtnInner > .sapMBtnIcon {
  color: #cae4fb;
}
@media (min-width: 30rem) {
.sapContrast .sapMUCButtonContainer > .sapMBtn > .sapMBtnInner,
.sapMUCButtonContainer.sapContrast > .sapMBtn > .sapMBtnInner {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
  text-shadow: none;
}
}
@media (min-width: 30rem) {
.sapContrast .sapMUCEditBtn:hover > .sapMBtnHoverable,
.sapMUCEditBtn.sapContrast:hover > .sapMBtnHoverable,
.sapContrast .sapMUCDeleteBtn:hover > .sapMBtnHoverable,
.sapMUCDeleteBtn.sapContrast:hover > .sapMBtnHoverable {
  background-color: rgba(99, 127, 153, 0.5);
  border-color: rgba(99, 127, 153, 0.5);
}
}
@media (min-width: 30rem) {
.sapContrast :not(.sapMBtnDisabled).sapMUCEditBtn > .sapMBtnActive,
.sapContrast:not(.sapMBtnDisabled).sapMUCEditBtn > .sapMBtnActive,
.sapContrast :not(.sapMBtnDisabled).sapMUCEditBtn:hover > .sapMBtnActive,
.sapContrast:not(.sapMBtnDisabled).sapMUCEditBtn:hover > .sapMBtnActive,
.sapContrast :not(.sapMBtnDisabled).sapMUCDeleteBtn > .sapMBtnActive,
.sapContrast:not(.sapMBtnDisabled).sapMUCDeleteBtn > .sapMBtnActive,
.sapContrast :not(.sapMBtnDisabled).sapMUCDeleteBtn:hover > .sapMBtnActive,
.sapContrast:not(.sapMBtnDisabled).sapMUCDeleteBtn:hover > .sapMBtnActive {
  background-color: #91c8f6;
  border-color: #91c8f6;
}
}
.sapContrast .sapMUCAttrContainer,
.sapMUCAttrContainer.sapContrast {
  color: #dddddd;
}
.sapContrast .sapMValueStateMessage,
.sapMValueStateMessage.sapContrast {
  color: #fafafa;
}
.sapContrast .sapMValueStateMessageError,
.sapMValueStateMessageError.sapContrast {
  background: #550000;
}
.sapContrast .sapMValueStateMessageWarning,
.sapMValueStateMessageWarning.sapContrast {
  background: #5c3803;
}
.sapContrast .sapMVSDUpperList,
.sapMVSDUpperList.sapContrast {
  border-bottom: 1px solid rgba(239, 244, 249, 0.2);
}
.sapContrast .sapMVSDSeg .sapMSegBBtn,
.sapMVSDSeg.sapContrast .sapMSegBBtn {
  text-shadow: 0 0px;
}
.sapContrast .sapMTB.sapMVSDFilterHeaderToolbar,
.sapMTB.sapMVSDFilterHeaderToolbar.sapContrast {
  background-color: #3f5161;
  border-bottom: 1px solid #2f3c48;
}
.sapContrast .sapMTB.sapMVSDFilterHeaderToolbar .sapMBarChild.sapMCb .sapMCbLabel,
.sapMTB.sapMVSDFilterHeaderToolbar.sapContrast .sapMBarChild.sapMCb .sapMCbLabel {
  color: #fafafa;
}
.sapContrast .sapMSF.sapMVSDFilterSearchField,
.sapMSF.sapMVSDFilterSearchField.sapContrast {
  border-bottom: 1px solid #69859d;
}
.sapContrast .sapMVSD.sapMDialog.sapMPopup-CTX .sapMIBar.sapMHeader-CTX,
.sapMVSD.sapMDialog.sapMPopup-CTX.sapContrast .sapMIBar.sapMHeader-CTX,
.sapContrast .sapMVSD.sapMDialog.sapMPopup-CTX .sapMIBar.sapMSubHeader-CTX,
.sapMVSD.sapMDialog.sapMPopup-CTX.sapContrast .sapMIBar.sapMSubHeader-CTX {
  background-color: #3f5161;
}
.sapContrast .sapMVSD .sapMVSDBar,
.sapMVSD.sapContrast .sapMVSDBar {
  box-shadow: inset 0 -1px #2f3c48;
}
.sapContrast .sapMPageWithSubHeader .sapMIBar.sapMHeader-CTX,
.sapMPageWithSubHeader.sapContrast .sapMIBar.sapMHeader-CTX {
  box-shadow: none;
}
.sapContrast .sapMWizard,
.sapMWizard.sapContrast {
  background-color: rgba(63, 81, 97, 0.8);
}
.sapContrast .sapMWizardProgressNav,
.sapMWizardProgressNav.sapContrast {
  background: #3f5161;
  border-bottom: solid 0.125rem #2f3c48;
  box-shadow: 0 0.125rem 0 0 #000000;
}
.sapContrast .sapMWizardProgressNavStep:hover .sapMWizardProgressNavAnchorCircle,
.sapMWizardProgressNavStep.sapContrast:hover .sapMWizardProgressNavAnchorCircle {
  background: #495e70;
}
.sapContrast .sapMWizardProgressNavAnchor:focus,
.sapMWizardProgressNavAnchor.sapContrast:focus {
  outline: 1px dotted #ffffff;
}
.sapContrast .sapMWizardProgressNavAnchorCircle,
.sapMWizardProgressNavAnchorCircle.sapContrast {
  color: #91c8f6;
  background: #3f5161;
  border-color: #91c8f6;
}
.sapContrast .sapMWizardProgressNavAnchorTitle,
.sapMWizardProgressNavAnchorTitle.sapContrast {
  color: #fafafa;
  background: #3f5161;
}
.sapContrast .sapMWizardProgressNavAnchorTitle:hover,
.sapMWizardProgressNavAnchorTitle.sapContrast:hover {
  color: #e1e1e1;
}
.sapContrast .sapMWizardProgressNavStep::after,
.sapMWizardProgressNavStep.sapContrast::after {
  border-bottom-color: #91c8f6;
}
.sapContrast .sapMWizard .sapMWizardStepContainer,
.sapMWizard.sapContrast .sapMWizardStepContainer {
  background: #3f5161;
}
.sapContrast .sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"] .sapMWizardProgressNavAnchor::after,
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"].sapContrast .sapMWizardProgressNavAnchor::after {
  background: #91c8f6;
}
.sapContrast .sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"] .sapMWizardProgressNavAnchorCircle,
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"].sapContrast .sapMWizardProgressNavAnchorCircle {
  background: #91c8f6;
  color: #2f3c48;
}
.sapContrast .sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"] .sapMWizardProgressNavAnchorTitle,
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"].sapContrast .sapMWizardProgressNavAnchorTitle {
  color: #c7c7c7;
}
.sapContrast .sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"] ~ .sapMWizardProgressNavStep,
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"].sapContrast ~ .sapMWizardProgressNavStep {
  color: rgba(250, 250, 250, 0.5);
}
.sapContrast .sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"] ~ .sapMWizardProgressNavStep .sapMWizardProgressNavAnchorCircle,
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"].sapContrast ~ .sapMWizardProgressNavStep .sapMWizardProgressNavAnchorCircle {
  border-color: rgba(145, 200, 246, 0.5);
  color: rgba(145, 200, 246, 0.5);
}
.sapContrast .sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"] ~ .sapMWizardProgressNavStep .sapMWizardProgressNavAnchorTitle,
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"].sapContrast ~ .sapMWizardProgressNavStep .sapMWizardProgressNavAnchorTitle {
  color: rgba(250, 250, 250, 0.5);
}
.sapContrast .sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"] ~ .sapMWizardProgressNavStep:hover .sapMWizardProgressNavAnchorCircle,
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"].sapContrast ~ .sapMWizardProgressNavStep:hover .sapMWizardProgressNavAnchorCircle {
  background-color: inherit;
}
.sapContrast .sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"]::after,
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"].sapContrast::after,
.sapContrast .sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"] ~ .sapMWizardProgressNavStep::after,
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"].sapContrast ~ .sapMWizardProgressNavStep::after {
  border-bottom-color: rgba(145, 200, 246, 0.5);
}
.sapContrast .sapMWizardStep .sapMWizardStepTitle,
.sapMWizardStep.sapContrast .sapMWizardStepTitle {
  color: #fafafa;
}
.sapContrast .sapMIBar-CTX .sapMBtnInner,
.sapMIBar-CTX.sapContrast .sapMBtnInner {
  border-color: transparent;
}
.sapContrast .sapMDialog > header:last-of-type,
.sapMDialog.sapContrast > header:last-of-type {
  box-shadow: inset 0 -1px #4f667a;
}
.sapContrast .sapMFeedInFigure,
.sapMFeedInFigure.sapContrast {
  border-width: 0rem;
  background-color: #69859d;
}
.sapContrast .sapMFeedInFigure.sapMFeedListItemIsDefaultIcon,
.sapMFeedInFigure.sapMFeedListItemIsDefaultIcon.sapContrast {
  border-width: 0.125rem;
}
.sapContrast .sapMFeedInImage,
.sapMFeedInImage.sapContrast {
  border-width: 0rem;
  box-sizing: border-box;
  border-style: solid;
  border-color: #495e70;
  background-color: #69859d;
  color: #495e70;
}
.sapContrast img.sapMFeedInImage,
img.sapMFeedInImage.sapContrast {
  width: 4rem;
  line-height: 4rem;
}
.sapContrast .sapMFeedIn,
.sapMFeedIn.sapContrast {
  background-color: #69859d;
}
.sapContrast .sapMLIBActive .sapMFeedListItem a,
.sapMLIBActive.sapContrast .sapMFeedListItem a,
.sapContrast .sapMLIBActive .sapMFeedListItem span,
.sapMLIBActive.sapContrast .sapMFeedListItem span,
.sapContrast .sapMLIBActive .sapMFeedListItem p,
.sapMLIBActive.sapContrast .sapMFeedListItem p,
.sapContrast .sapMLIBActive .sapMFeedListItemFooter,
.sapMLIBActive.sapContrast .sapMFeedListItemFooter,
.sapContrast .sapMLIBActive .sapMFeedListItemText,
.sapMLIBActive.sapContrast .sapMFeedListItemText,
.sapContrast .sapMLIBActive .sapMFeedListItemTimestamp,
.sapMLIBActive.sapContrast .sapMFeedListItemTimestamp,
.sapContrast .sapMLIBActive .sapMFeedListItem .sapMFeedListItemTextText .sapMFeedListItemTextString,
.sapMLIBActive.sapContrast .sapMFeedListItem .sapMFeedListItemTextText .sapMFeedListItemTextString,
.sapContrast .sapMLIBActive .sapMFeedListItem:hover .sapMFeedListItemTextText > .sapMFeedListItemLinkExpandCollapse,
.sapMLIBActive.sapContrast .sapMFeedListItem:hover .sapMFeedListItemTextText > .sapMFeedListItemLinkExpandCollapse,
.sapContrast .sapMLIBActive .sapMFeedListItemTextText,
.sapMLIBActive.sapContrast .sapMFeedListItemTextText,
.sapContrast .sapMLIBActive .sapMFeedListItemTextText > .sapMLnk,
.sapMLIBActive.sapContrast .sapMFeedListItemTextText > .sapMLnk,
.sapContrast .sapMLIBActive .sapMFeedListItemTextText > .sapMLnk.sapMLnkDsbl .sapMLIBActive .sapMFeedListItemTextName > .sapMLnk,
.sapMLIBActive.sapContrast .sapMFeedListItemTextText > .sapMLnk.sapMLnkDsbl .sapMLIBActive .sapMFeedListItemTextName > .sapMLnk,
.sapContrast .sapMLIBActive .sapMFeedListItemTextName > .sapMLnk.sapMLnkDsbl,
.sapMLIBActive.sapContrast .sapMFeedListItemTextName > .sapMLnk.sapMLnkDsbl {
  color: #fafafa;
}
.sapContrast .sapMHdrCntrBGTranslucent,
.sapMHdrCntrBGTranslucent.sapContrast {
  background-color: rgba(63, 81, 97, 0.6);
}
.sapContrast .sapMITBSelected .sapMITBFilterDefault,
.sapMITBSelected.sapContrast .sapMITBFilterDefault {
  background: #91c8f6;
}
.sapContrast .sapMITBTextOnly .sapMITBFilterDefault:hover > .sapMITBText,
.sapMITBTextOnly.sapContrast .sapMITBFilterDefault:hover > .sapMITBText {
  color: #ffffff;
}
.sapContrast .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected:hover > .sapMITBText,
.sapMITBTextOnly.sapContrast .sapMITBFilterDefault.sapMITBSelected:hover > .sapMITBText {
  color: #c0e0fa;
}
.sapContrast .sapMLIBCounter,
.sapMLIBCounter.sapContrast {
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}
.sapContrast .sapMNwCCTxt .sapMText,
.sapMNwCCTxt.sapContrast .sapMText {
  color: #fafafa;
}
.sapContrast .sapMTileCnt.News .sapMNwCSbh,
.sapMTileCnt.News.sapContrast .sapMNwCSbh {
  color: #dddddd;
}
.sapContrast .sapMObjectMarker .sapMLnk,
.sapMObjectMarker.sapContrast .sapMLnk {
  text-shadow: none;
}
.sapContrast .sapUshellShell .sapMPageBgStandard,
.sapUshellShell.sapContrast .sapMPageBgStandard {
  background-color: #3f5161;
}
.sapContrast .sapUshellShell .sapMSplitContainerMaster .sapMPageBgStandard,
.sapUshellShell.sapContrast .sapMSplitContainerMaster .sapMPageBgStandard {
  background-color: transparent;
  background-image: none;
}
.sapContrast .sapUshellShell #sapUshellDashboardPage,
.sapUshellShell.sapContrast #sapUshellDashboardPage {
  background-color: transparent !important;
  background-image: none !important;
}
.sapContrast .sapMPopover .sapMIBar.sapMHeader-CTX,
.sapMPopover.sapContrast .sapMIBar.sapMHeader-CTX {
  border-bottom: 1px solid #4f667a;
}
.sapContrast .sapMPI,
.sapMPI.sapContrast {
  background: rgba(0, 0, 0, 0.2);
}
.sapContrast .sapUshellShell .sapMShellGlobalInnerBackground,
.sapUshellShell.sapContrast .sapMShellGlobalInnerBackground {
  background-color: transparent;
  background-image: none;
}
.sapContrast .sapMSliderInner,
.sapMSliderInner.sapContrast {
  background: #69859d;
}
.sapContrast .sapMSliderHandle,
.sapMSliderHandle.sapContrast {
  border: 0.125rem solid #a6b7c6;
}
.sapContrast .sapMSliderHandle:hover,
.sapMSliderHandle.sapContrast:hover {
  background-color: rgba(105, 133, 157, 0.6);
  border: 0.125rem solid #a6b7c6;
}
.sapContrast .sapMSTBulleted > span.sapMSTActive,
.sapMSTBulleted.sapContrast > span.sapMSTActive {
  background-color: #ffffff;
}
.sapContrast .sapMST .sapMSTIconDisplayArea,
.sapMST.sapContrast .sapMSTIconDisplayArea {
  background-color: #0b497d;
}
.sapContrast .sapMSLIInfo,
.sapMSLIInfo.sapContrast {
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}
.sapContrast .sapMStdTileIconDiv,
.sapMStdTileIconDiv.sapContrast {
  color: #91c8f6;
}
.sapContrast .sapMStdIconMonitor,
.sapMStdIconMonitor.sapContrast {
  color: #97aabb;
}
.sapContrast .sapMStdIconMonitor .sapMStdTileTitle,
.sapMStdIconMonitor.sapContrast .sapMStdTileTitle {
  color: #dddddd;
}
.sapContrast .sapMStdIconCreate,
.sapMStdIconCreate.sapContrast {
  color: #ffffff;
  opacity: .3;
}
.sapContrast .sapMStdTileNum,
.sapMStdTileNum.sapContrast,
.sapContrast .sapMStdTileNumM,
.sapMStdTileNumM.sapContrast,
.sapContrast .sapMStdTileNumS,
.sapMStdTileNumS.sapContrast {
  font-family: 'Arial Narrow', HelveticaNeue-CondensedBold, Arial, sans-serif;
  font-stretch: condensed;
  color: #dddddd;
}
.sapContrast .sapMStdTileNumUnit,
.sapMStdTileNumUnit.sapContrast {
  color: #dddddd;
  text-transform: uppercase;
}
.sapContrast .sapMStdTileInfoError,
.sapMStdTileInfoError.sapContrast {
  color: #ff8888;
}
.sapContrast .sapMStdTileInfoWarning,
.sapMStdTileInfoWarning.sapContrast {
  color: #fabd64;
}
.sapContrast .sapMStdTileInfoSuccess,
.sapMStdTileInfoSuccess.sapContrast {
  color: #abe2ab;
}
.sapContrast .sapMStdTileMonitorType,
.sapMStdTileMonitorType.sapContrast {
  background-color: #3b4c5b;
}
.sapContrast .sapMTCEditable .sapMStdTileMonitorType,
.sapMTCEditable.sapContrast .sapMStdTileMonitorType {
  background-color: rgba(53, 68, 82, 0.5);
}
.sapContrast .sapMStdTileMonitorType .sapMStdTileTitle,
.sapMStdTileMonitorType.sapContrast .sapMStdTileTitle {
  color: #dddddd;
}
.sapContrast .sapMTileActive-CTX .sapMStdTileMonitorType,
.sapMTileActive-CTX.sapContrast .sapMStdTileMonitorType {
  background-color: transparent;
}
.sapContrast .sapMTileActive-CTX .sapMStdIconCreate,
.sapMTileActive-CTX.sapContrast .sapMStdIconCreate {
  opacity: 1;
}
.sapContrast .sapMStdTileInfo,
.sapMStdTileInfo.sapContrast {
  color: #dddddd;
}
.sapContrast .sapMTileActive-CTX .sapMStdTileInfoWarning,
.sapMTileActive-CTX.sapContrast .sapMStdTileInfoWarning,
.sapContrast .sapMTileActive-CTX .sapMStdTileInfoSuccess,
.sapMTileActive-CTX.sapContrast .sapMStdTileInfoSuccess,
.sapContrast .sapMTileActive-CTX .sapMStdTileInfoError,
.sapMTileActive-CTX.sapContrast .sapMStdTileInfoError,
.sapContrast .sapMTileActive-CTX .sapMStdTileTitle,
.sapMTileActive-CTX.sapContrast .sapMStdTileTitle,
.sapContrast .sapMTileActive-CTX .sapMStdTileNumUnit,
.sapMTileActive-CTX.sapContrast .sapMStdTileNumUnit,
.sapContrast .sapMTileActive-CTX .sapMStdTileNum,
.sapMTileActive-CTX.sapContrast .sapMStdTileNum,
.sapContrast .sapMTileActive-CTX .sapMStdTileNumM,
.sapMTileActive-CTX.sapContrast .sapMStdTileNumM,
.sapContrast .sapMTileActive-CTX .sapMStdTileNumS,
.sapMTileActive-CTX.sapContrast .sapMStdTileNumS,
.sapContrast .sapMTileActive-CTX .sapMStdTileInfo,
.sapMTileActive-CTX.sapContrast .sapMStdTileInfo {
  color: #2f3c48;
}
.sapContrast .sapMTileActive-CTX .sapMStdTileIconDiv,
.sapMTileActive-CTX.sapContrast .sapMStdTileIconDiv,
.sapContrast .sapMTileActive-CTX .sapMStdIconMonitor,
.sapMTileActive-CTX.sapContrast .sapMStdIconMonitor,
.sapContrast .sapMTileActive-CTX .sapMStdIconCreate,
.sapMTileActive-CTX.sapContrast .sapMStdIconCreate {
  color: #2f3c48;
}
.sapContrast .sapMTabStrip,
.sapMTabStrip.sapContrast {
  box-shadow: inset 0 -0.125rem 0 0 #4f667a;
}
.sapContrast .sapMTabStrip .sapMTSTabsContainer .sapMTSTabs .sapMTabStripItem:hover,
.sapMTabStrip.sapContrast .sapMTSTabsContainer .sapMTSTabs .sapMTabStripItem:hover {
  color: #ffffff;
}
.sapContrast .sapMTabStrip .sapMTSTabsContainer .sapMTSTabs .sapMTabStripItem.sapMTabStripItemSelected,
.sapMTabStrip.sapContrast .sapMTSTabsContainer .sapMTSTabs .sapMTabStripItem.sapMTabStripItemSelected {
  color: #ffffff;
}
.sapContrast .sapMTileCnt.News,
.sapMTileCnt.News.sapContrast {
  background-color: rgba(11, 73, 125, 0.85);
}
.sapContrast .sapMTileCnt.News .sapMTileCntFtrTxt,
.sapMTileCnt.News.sapContrast .sapMTileCntFtrTxt {
  color: #dddddd;
}
.sapContrast .sapMVSD .sapMVSDBar,
.sapMVSD.sapContrast .sapMVSDBar {
  box-shadow: inset 0 -1px #4f667a;
}
.sapContrast .sapMVSDBarWithSearch.sapMBar,
.sapMVSDBarWithSearch.sapMBar.sapContrast,
.sapContrast .sapMVSD.sapMDialog.sapMPopup-CTX .sapMIBar.sapMHeader-CTX .sapMVSDBarWithSearch,
.sapMVSD.sapMDialog.sapMPopup-CTX.sapContrast .sapMIBar.sapMHeader-CTX .sapMVSDBarWithSearch,
.sapContrast .sapMVSD.sapMDialog.sapMPopup-CTX .sapMIBar.sapMSubHeader-CTX .sapMVSDBarWithSearch,
.sapMVSD.sapMDialog.sapMPopup-CTX.sapContrast .sapMIBar.sapMSubHeader-CTX .sapMVSDBarWithSearch {
  box-shadow: none;
}
.sapContrast .sapMWizardProgressNav,
.sapMWizardProgressNav.sapContrast {
  background: #3f5161;
  border-bottom: solid 0.125rem #4f667a;
}
.sapContrast .sapMWizardProgressNavStep:hover .sapMWizardProgressNavAnchorCircle,
.sapMWizardProgressNavStep.sapContrast:hover .sapMWizardProgressNavAnchorCircle {
  background: #354452;
}
.sapContrast .sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"] .sapMWizardProgressNavAnchor::after,
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"].sapContrast .sapMWizardProgressNavAnchor::after {
  background: #91c8f6;
}
.sapContrast .sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"] .sapMWizardProgressNavAnchorCircle,
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"].sapContrast .sapMWizardProgressNavAnchorCircle {
  background: #91c8f6;
}
.sapContrast .sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"] .sapMWizardProgressNavAnchorTitle,
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"].sapContrast .sapMWizardProgressNavAnchorTitle {
  color: #ffffff;
}
.sapContrast .sapMWizardProgressNavAnchorTitle:hover,
.sapMWizardProgressNavAnchorTitle.sapContrast:hover {
  color: #ffffff;
}
.sapContrast .sapMRIIconUnsel,
.sapMRIIconUnsel.sapContrast {
  color: #8ea3b5;
}


/* Inline theming parameters */
#sap-ui-theme-sap\.m{background-image:url('data:text/plain;utf-8,%7B%22default%22:%7B%22sapBrandColor%22:%22#000000%22,%22sapHighlightColor%22:%22#000000%22,%22sapBaseColor%22:%22#7d8890%22,%22sapShellColor%22:%22transparent%22,%22sapBackgroundColor%22:%22#fafafa%22,%22sapFontFamily%22:%22%5C%2272%5C%22, Arial, Helvetica, sans-serif%22,%22sapFontSize%22:%220.75em%22,%22sapTextColor%22:%22#333333%22,%22sapLinkColor%22:%22#0070b1%22,%22sapCompanyLogo%22:%22url%28%27../../../../../Base/baseLib/open_space_belize/img/misc/sapCompanyLogo.png%27%29%22,%22sapBackgroundImage%22:%22none%22,%22sapBackgroundImageOpacity%22:%221.0%22,%22sapBackgroundImageRepeat%22:%22false%22,%22sapSelectedColor%22:%22#000000%22,%22sapActiveColor%22:%22#000000%22,%22sapHighlightTextColor%22:%22#fff%22,%22sapTitleColor%22:%22#333333%22,%22sapNegativeColor%22:%22#bb0000%22,%22sapCriticalColor%22:%22#e78c07%22,%22sapPositiveColor%22:%22#2b7c2b%22,%22sapNeutralColor%22:%22#5e696e%22,%22sapNegativeElementColor%22:%22#bb0000%22,%22sapCriticalElementColor%22:%22#e78c07%22,%22sapPositiveElementColor%22:%22#2b7c2b%22,%22sapNeutralElementColor%22:%22#5e696e%22,%22sapContent_LineHeight%22:%221.3%22,%22sapContent_ElementHeight%22:%221.37em%22,%22sapContent_ElementHeight_PX%22:%2222px%22,%22sapContent_IconHeight%22:%2216px%22,%22sapContent_IconColor%22:%22#000%22,%22sapContent_ContrastIconColor%22:%22#fff%22,%22sapContent_NonInteractiveIconColor%22:%22#878787%22,%22sapContent_MarkerIconColor%22:%22#678bc7%22,%22sapContent_FocusColor%22:%22#000%22,%22sapContent_ContrastFocusColor%22:%22#fff%22,%22sapContent_ShadowColor%22:%22#000%22,%22sapContent_ContrastShadowColor%22:%22#fff%22,%22sapContent_SearchHighlightColor%22:%22#d4f7db%22,%22sapContent_HelpColor%22:%22#3f8600%22,%22sapContent_LabelColor%22:%22#666%22,%22sapContent_MonospaceFontFamily%22:%22lucida console, monospace%22,%22sapContent_DisabledTextColor%22:%22rgba%2851,51,51,0.5%29%22,%22sapContent_DisabledOpacity%22:%220.5%22,%22sapContent_ContrastTextThreshold%22:%220.65%22,%22sapContent_ContrastTextColor%22:%22#fff%22,%22sapContent_ForegroundColor%22:%22#e5e5e5%22,%22sapContent_ForegroundBorderColor%22:%22#bfbfbf%22,%22sapContent_ForegroundTextColor%22:%22#333%22,%22sapShell_Background%22:%22#686b6d%22,%22sapShell_BackgroundImage%22:%22url%28%27../../../../../Base/baseLib/open_space_belize/img/misc/sapShell_BackgroundImage.jpeg%27%29%22,%22sapShell_BackgroundGradient%22:%22url%28%27../../../../../Base/baseLib/open_space_belize/img/misc/sapShell_BackgroundImage.jpeg%27%29%22,%22sapShell_BackgroundImageOpacity%22:%221.0%22,%22sapShell_BackgroundImageRepeat%22:%22false%22,%22sapShell_BorderColor%22:%22transparent%22,%22sapShell_TextColor%22:%22#000%22,%22sapShell_Favicon%22:%22none%22,%22sapButton_BorderWidth%22:%221px%22,%22sapButton_BorderCornerRadius%22:%223px%22,%22sapButton_Background%22:%22#f7f7f7%22,%22sapButton_BorderColor%22:%22#ababab%22,%22sapButton_TextColor%22:%22#000%22,%22sapButton_Disabled_Background%22:%22lime%22,%22sapButton_Disabled_BorderColor%22:%22lime%22,%22sapButton_Disabled_TextColor%22:%22lime%22,%22sapButton_Hover_Background%22:%22#eaeaea%22,%22sapButton_Hover_BorderColor%22:%22#ababab%22,%22sapButton_Hover_TextColor%22:%22#000%22,%22sapButton_Emphasized_Background%22:%22#1a1a1a%22,%22sapButton_Emphasized_BorderColor%22:%22#0d0d0d%22,%22sapButton_Emphasized_TextColor%22:%22#fff%22,%22sapButton_Reject_Background%22:%22#f7f7f7%22,%22sapButton_Accept_Background%22:%22#f7f7f7%22,%22sapField_Background%22:%22#ffffff%22,%22sapField_BorderColor%22:%22#bfbfbf%22,%22sapField_TextColor%22:%22#000%22,%22sapField_HelpBackground%22:%22#ffffff%22,%22sapField_BorderWidth%22:%221px%22,%22sapField_BorderCornerRadius%22:%220%22,%22sapField_Hover_Background%22:%22#ffffff%22,%22sapField_Hover_BorderColor%22:%22#000000%22,%22sapField_Hover_HelpBackground%22:%22#000000%22,%22sapField_Focus_Background%22:%22#ffffff%22,%22sapField_Focus_BorderColor%22:%22#bfbfbf%22,%22sapField_Focus_HelpBackground%22:%22#ffffff%22,%22sapField_Disabled_Background%22:%22lime%22,%22sapField_Disabled_BorderColor%22:%22lime%22,%22sapField_Disabled_TextColor%22:%22rgba%280,0,0,0.5%29%22,%22sapField_Disabled_HelpBackground%22:%22lime%22,%22sapField_ReadOnly_Background%22:%22rgba%28242,242,242,0.5%29%22,%22sapField_ReadOnly_BorderColor%22:%22#ccc%22,%22sapField_ReadOnly_HelpBackground%22:%22rgba%28242,242,242,0.5%29%22,%22sapField_RequiredColor%22:%22#c14646%22,%22sapField_InvalidColor%22:%22#e00%22,%22sapField_InvalidBackground%22:%22#ffffff%22,%22sapField_WarningColor%22:%22#f9a429%22,%22sapField_WarningBackground%22:%22#ffffff%22,%22sapField_SuccessColor%22:%22#38a238%22,%22sapField_SuccessBackground%22:%22#ffffff%22,%22sapGroup_TitleBackground%22:%22transparent%22,%22sapGroup_TitleBorderColor%22:%22#ccc%22,%22sapGroup_TitleTextColor%22:%22#333%22,%22sapGroup_Title_FontSize%22:%221.0em%22,%22sapGroup_ContentBackground%22:%22#fff%22,%22sapGroup_ContentBorderColor%22:%22#ebebeb%22,%22sapGroup_BorderWidth%22:%221px%22,%22sapGroup_BorderCornerRadius%22:%220%22,%22sapGroup_FooterBackground%22:%22transparent%22,%22sapToolbar_Background%22:%22transparent%22,%22sapToolbar_SeparatorColor%22:%22rgba%2863,81,97,0.2%29%22,%22sapList_HeaderBackground%22:%22#f7f7f7%22,%22sapList_HeaderBorderColor%22:%22#e5e5e5%22,%22sapList_HeaderTextColor%22:%22#333%22,%22sapList_BorderColor%22:%22#e5e5e5%22,%22sapList_BorderWidth%22:%221px%22,%22sapList_HighlightColor%22:%22#000000%22,%22sapList_SelectionBackgroundColor%22:%22#787878%22,%22sapList_Background%22:%22#ffffff%22,%22sapList_Hover_Background%22:%22#f0f0f0%22,%22sapScrollBar_FaceColor%22:%22#b2b2b2%22,%22sapScrollBar_TrackColor%22:%22#fff%22,%22sapScrollBar_BorderColor%22:%22#b2b2b2%22,%22sapScrollBar_SymbolColor%22:%22#000%22,%22sapScrollBar_Dimension%22:%2216px%22,%22sapScrollBar_Hover_FaceColor%22:%22#aaa%22,%22sapPageHeader_Background%22:%22#7d8890%22,%22sapPageHeader_BorderColor%22:%22#69747b%22,%22sapPageHeader_TextColor%22:%22#fff%22,%22sapPageFooter_Background%22:%22#ffffff%22,%22sapPageFooter_TextColor%22:%22#333%22,%22sapInfobar_Background%22:%22#168282%22,%22sapObjectHeader_Background%22:%22#7d8890%22,%22sapBlockLayer_Background%22:%22#000%22,%22sapTile_Background%22:%22#ffffff%22,%22sapTile_BorderColor%22:%22transparent%22,%22sapTile_TitleTextColor%22:%22#333%22,%22sapTile_TextColor%22:%22#666%22,%22sapTile_IconColor%22:%22#575757%22,%22sapChart_OrderedColor_1%22:%22#5899da%22,%22sapChart_OrderedColor_2%22:%22#e8743b%22,%22sapChart_OrderedColor_3%22:%22#19a979%22,%22sapChart_OrderedColor_4%22:%22#ed4a7b%22,%22sapChart_OrderedColor_5%22:%22#945ecf%22,%22sapChart_OrderedColor_6%22:%22#13a4b4%22,%22sapChart_OrderedColor_7%22:%22#525df4%22,%22sapChart_OrderedColor_8%22:%22#bf399e%22,%22sapChart_OrderedColor_9%22:%22#6c8893%22,%22sapChart_OrderedColor_10%22:%22#ee6868%22,%22sapChart_OrderedColor_11%22:%22#2f6497%22,%22sapChart_Bad%22:%22#dc0d0e%22,%22sapChart_Critical%22:%22#de890d%22,%22sapChart_Good%22:%22#3fa45b%22,%22sapChart_Neutral%22:%22#848f94%22,%22sapChart_Sequence_1%22:%22#5899da%22,%22sapChart_Sequence_2%22:%22#e8743b%22,%22sapChart_Sequence_3%22:%22#19a979%22,%22sapChart_Sequence_Neutral%22:%22#848f94%22,%22sapUiBrand%22:%22#000000%22,%22sapUiHighlight%22:%22#000000%22,%22sapUiBaseColor%22:%22#7d8890%22,%22sapUiShellColor%22:%22transparent%22,%22sapUiBaseBG%22:%22#fafafa%22,%22sapUiGlobalBackgroundColor%22:%22#fafafa%22,%22sapUiBaseText%22:%22#333333%22,%22sapUiLink%22:%22#0070b1%22,%22sapUiGlobalLogo%22:%22url%28%27../../../../../Base/baseLib/open_space_belize/img/misc/sapCompanyLogo.png%27%29%22,%22sapUiGlobalBackgroundImage%22:%22none%22,%22sapUiBackgroundImage%22:%22none%22,%22sapUiUx3ShellBackgroundImageURL%22:%22none%22,%22sapUiGlobalBackgroundImageOpacity%22:%221.0%22,%22sapUiGlobalBackgroundRepeat%22:%22false%22,%22sapUiSelected%22:%22#000000%22,%22sapUiActive%22:%22#000000%22,%22sapUiHighlightTextColor%22:%22#fff%22,%22sapUiTextTitle%22:%22#333333%22,%22sapUiContentIconColor%22:%22#000%22,%22sapUiContentContrastIconColor%22:%22#fff%22,%22sapUiContentNonInteractiveIconColor%22:%22#878787%22,%22sapUiContentMarkerIconColor%22:%22#678bc7%22,%22sapUiContentImagePlaceholderBackground%22:%22#677178%22,%22sapUiContentImagePlaceholderForegroundColor%22:%22#8b959c%22,%22sapUiContentFocusColor%22:%22#000%22,%22sapUiContentContrastFocusColor%22:%22#fff%22,%22sapUiContentShadowColor%22:%22#000%22,%22sapUiContentContrastShadowColor%22:%22#fff%22,%22sapUiContentSearchHighlightColor%22:%22#d4f7db%22,%22sapUiContentHelpColor%22:%22#3f8600%22,%22sapUiContentLabelColor%22:%22#666%22,%22sapUiContentDisabledTextColor%22:%22rgba%2851,51,51,0.5%29%22,%22sapUiContentDisabledOpacity%22:%220.5%22,%22sapUiContentContrastTextThreshold%22:%220.65%22,%22sapUiContentContrastTextColor%22:%22#fff%22,%22sapUiContentForegroundColor%22:%22#e5e5e5%22,%22sapUiContentForegroundBorderColor%22:%22#bfbfbf%22,%22sapUiContentForegroundTextColor%22:%22#333%22,%22sapUiShellBackground%22:%22#686b6d%22,%22sapUiShellBackgroundImage%22:%22url%28%27../../../../../Base/baseLib/open_space_belize/img/misc/sapShell_BackgroundImage.jpeg%27%29%22,%22sapUiShellBackgroundImageOpacity%22:%221.0%22,%22sapUiShellBackgroundImageRepeat%22:%22false%22,%22sapUiShellBackgroundGradient%22:%22url%28%27../../../../../Base/baseLib/open_space_belize/img/misc/sapShell_BackgroundImage.jpeg%27%29%22,%22sapUiShellBorderColor%22:%22transparent%22,%22sapUiShellTextColor%22:%22#000%22,%22sapUiShellFavicon%22:%22none%22,%22sapUiButtonBackground%22:%22#f7f7f7%22,%22sapUiButtonBorderColor%22:%22#ababab%22,%22sapUiButtonTextColor%22:%22#000%22,%22sapUiButtonDisabledBackground%22:%22lime%22,%22sapUiButtonDisabledBorderColor%22:%22lime%22,%22sapUiButtonDisabledTextColor%22:%22lime%22,%22sapUiButtonHoverBackground%22:%22#eaeaea%22,%22sapUiButtonHoverBorderColor%22:%22#ababab%22,%22sapUiButtonHoverTextColor%22:%22#000%22,%22sapUiButtonEmphasizedBackground%22:%22#1a1a1a%22,%22sapUiButtonEmphasizedBorderColor%22:%22#0d0d0d%22,%22sapUiButtonEmphasizedTextColor%22:%22#fff%22,%22sapUiButtonRejectBackground%22:%22#f7f7f7%22,%22sapUiButtonAcceptBackground%22:%22#f7f7f7%22,%22sapUiFieldBackground%22:%22#ffffff%22,%22sapUiFieldBorderColor%22:%22#bfbfbf%22,%22sapUiFieldTextColor%22:%22#000%22,%22sapUiFieldHelpBackground%22:%22#ffffff%22,%22sapUiFieldHoverBackground%22:%22#ffffff%22,%22sapUiFieldHoverBorderColor%22:%22#000000%22,%22sapUiFieldHoverHelpBackground%22:%22#000000%22,%22sapUiFieldFocusBackground%22:%22#ffffff%22,%22sapUiFieldFocusBorderColor%22:%22#bfbfbf%22,%22sapUiFieldFocusHelpBackground%22:%22#ffffff%22,%22sapUiFieldReadOnlyBackground%22:%22rgba%28242,242,242,0.5%29%22,%22sapUiFieldReadOnlyBorderColor%22:%22#ccc%22,%22sapUiFieldReadOnlyHelpBackground%22:%22rgba%28242,242,242,0.5%29%22,%22sapUiFieldDisabledBackground%22:%22lime%22,%22sapUiFieldDisabledBorderColor%22:%22lime%22,%22sapUiFieldDisabledTextColor%22:%22rgba%280,0,0,0.5%29%22,%22sapUiFieldDisabledHelpBackground%22:%22lime%22,%22sapUiFieldRequiredColor%22:%22#c14646%22,%22sapUiFieldInvalidColor%22:%22#e00%22,%22sapUiFieldInvalidBackground%22:%22#ffffff%22,%22sapUiFieldWarningColor%22:%22#f9a429%22,%22sapUiFieldWarningBackground%22:%22#ffffff%22,%22sapUiFieldSuccessColor%22:%22#38a238%22,%22sapUiFieldSuccessBackground%22:%22#ffffff%22,%22sapUiGroupTitleBackground%22:%22transparent%22,%22sapUiGroupTitleBorderColor%22:%22#ccc%22,%22sapUiGroupTitleTextColor%22:%22#333%22,%22sapUiGroupContentBackground%22:%22#fff%22,%22sapUiGroupContentBorderColor%22:%22#ebebeb%22,%22sapUiGroupFooterBackground%22:%22transparent%22,%22sapUiToolbarBackground%22:%22transparent%22,%22sapUiToolbarSeparatorColor%22:%22rgba%2863,81,97,0.2%29%22,%22sapUiListHeaderBackground%22:%22#f7f7f7%22,%22sapUiListHeaderBorderColor%22:%22#e5e5e5%22,%22sapUiListHeaderTextColor%22:%22#333%22,%22sapUiListBorderColor%22:%22#e5e5e5%22,%22sapUiListHighlightColor%22:%22#000000%22,%22sapUiListSelectionBackgroundColor%22:%22#787878%22,%22sapUiListBackground%22:%22#ffffff%22,%22sapUiListHoverBackground%22:%22#f0f0f0%22,%22sapUiScrollBarFaceColor%22:%22#b2b2b2%22,%22sapUiScrollBarTrackColor%22:%22#fff%22,%22sapUiScrollBarBorderColor%22:%22#b2b2b2%22,%22sapUiScrollBarSymbolColor%22:%22#000%22,%22sapUiScrollBarHoverFaceColor%22:%22#aaa%22,%22sapUiPageHeaderBackground%22:%22#7d8890%22,%22sapUiPageHeaderBorderColor%22:%22#69747b%22,%22sapUiPageHeaderTextColor%22:%22#fff%22,%22sapUiPageFooterBackground%22:%22#ffffff%22,%22sapUiPageFooterTextColor%22:%22#333%22,%22sapUiInfobarBackground%22:%22#168282%22,%22sapUiObjectHeaderBackground%22:%22#7d8890%22,%22sapUiBlockLayerBackground%22:%22#000%22,%22sapUiTileBackground%22:%22#ffffff%22,%22sapUiTileBorderColor%22:%22transparent%22,%22sapUiTileTitleTextColor%22:%22#333%22,%22sapUiTileTextColor%22:%22#666%22,%22sapUiTileIconColor%22:%22#575757%22,%22sapUiChart1%22:%22#5899da%22,%22sapUiChart2%22:%22#e8743b%22,%22sapUiChart3%22:%22#19a979%22,%22sapUiChart4%22:%22#ed4a7b%22,%22sapUiChart5%22:%22#945ecf%22,%22sapUiChart6%22:%22#13a4b4%22,%22sapUiChart7%22:%22#525df4%22,%22sapUiChart8%22:%22#bf399e%22,%22sapUiChart9%22:%22#6c8893%22,%22sapUiChart10%22:%22#ee6868%22,%22sapUiChart11%22:%22#2f6497%22,%22sapUiChartBad%22:%22#dc0d0e%22,%22sapUiChartCritical%22:%22#de890d%22,%22sapUiChartGood%22:%22#3fa45b%22,%22sapUiChartNeutral%22:%22#848f94%22,%22sapUiChartSequence1%22:%22#5899da%22,%22sapUiChartSequence2%22:%22#e8743b%22,%22sapUiChartSequence3%22:%22#19a979%22,%22sapUiChartSequenceNeutral%22:%22#848f94%22,%22sapUiErrorBG%22:%22#ffe4e4%22,%22sapUiWarningBG%22:%22#fef0db%22,%22sapUiSuccessBG%22:%22#e4f5e4%22,%22sapUiNeutralBG%22:%22#f4f5f6%22,%22sapUiErrorBorder%22:%22#e00%22,%22sapUiWarningBorder%22:%22#f9a429%22,%22sapUiSuccessBorder%22:%22#38a238%22,%22sapUiNeutralBorder%22:%22#5e696e%22,%22sapUiNegativeElement%22:%22#bb0000%22,%22sapUiCriticalElement%22:%22#e78c07%22,%22sapUiPositiveElement%22:%22#2b7c2b%22,%22sapUiNeutralElement%22:%22#5e696e%22,%22sapUiNegativeText%22:%22#bb0000%22,%22sapUiCriticalText%22:%22#e78c07%22,%22sapUiPositiveText%22:%22#2b7c2b%22,%22sapUiNeutralText%22:%22#5e696e%22,%22sapUiNegative%22:%22#bb0000%22,%22sapUiCritical%22:%22#e78c07%22,%22sapUiPositive%22:%22#2b7c2b%22,%22sapUiNeutral%22:%22#5e696e%22,%22sapUiErrorColor%22:%22#e00%22,%22sapUiWarningColor%22:%22#f9a429%22,%22sapUiSuccessColor%22:%22#38a238%22,%22sapUiFontFamily%22:%22%5C%2272%5C%22, Arial, Helvetica, sans-serif%22,%22sapUiFontSize%22:%2216px%22,%22sapUiFontCondensedFamily%22:%22%27Arial Narrow%27, HelveticaNeue-CondensedBold, Arial, sans-serif%22,%22sapUiFontHeaderFamily%22:%22%5C%2272%5C%22, Arial, Helvetica, sans-serif%22,%22sapUiFontHeaderWeight%22:%22normal%22,%22sapMFontHeader1Size%22:%221.625rem%22,%22sapMFontHeader2Size%22:%221.375rem%22,%22sapMFontHeader3Size%22:%221.250rem%22,%22sapMFontHeader4Size%22:%221.125rem%22,%22sapMFontHeader5Size%22:%221rem%22,%22sapMFontHeader6Size%22:%220.875rem%22,%22sapMFontSmallSize%22:%220.75rem%22,%22sapMFontMediumSize%22:%220.875rem%22,%22sapMFontLargeSize%22:%221rem%22,%22sapUiTranslucentBGOpacity%22:%220%22,%22sapMPlatformDependent%22:%22false%22,%22sapUiDesktopFontFamily%22:%22%5C%2272%5C%22, Arial, Helvetica, sans-serif%22,%22sapUiDesktopFontSize%22:%2212px%22,%22sapUiFontLargeSize%22:%2213px%22,%22sapUiFontSmallSize%22:%2211px%22,%22sapUiFontHeader1Size%22:%2226px%22,%22sapUiFontHeader2Size%22:%2220px%22,%22sapUiFontHeader3Size%22:%2218px%22,%22sapUiFontHeader4Size%22:%2216px%22,%22sapUiFontHeader5Size%22:%2214px%22,%22sapUiFontHeader6Size%22:%2213px%22,%22sapUiLineHeight%22:%2218px%22,%22sapUiChartLabelHoverColor%22:%22#eaeaea%22,%22sapUiChartLabelPressedColor%22:%22#ccc%22,%22sapUiChartCategoryAxisLabelFontColor%22:%22#333%22,%22sapUiChartValueAxisLabelFontColor%22:%22#707070%22,%22sapUiChartCategoryAxisLabelFontSize%22:%220.75rem%22,%22sapUiChartValueAxisLabelFontSize%22:%220.75rem%22,%22sapUiChartCategoryAxisLineColor%22:%22#ccc%22,%22sapUiChartValueAxisLineColor%22:%22#ccc%22,%22sapUiChartCategoryAxisTickColor%22:%22#ccc%22,%22sapUiChartValueAxisTickColor%22:%22#ccc%22,%22sapUiChartBackgroundColor%22:%22transparent%22,%22sapUiChartLabelFontWeight%22:%22normal%22,%22sapUiChartLegendLabelFontColor%22:%22#333%22,%22sapUiChartLegendTitleFontColor%22:%22#333%22,%22sapUiChartLegendTitleFontSize%22:%220.875rem%22,%22sapUiChartLegendLabelFontSize%22:%220.75rem%22,%22sapUiChartPaletteUndefinedColor%22:%22#000%22,%22sapUiChartGridlineColor%22:%22#e5e5e5%22,%22sapUiChartReferenceLineColor%22:%22#333%22,%22sapUiChartDataLabelFontColor%22:%22#000%22,%22sapUiChartReferenceLineLabelColor%22:%22#000%22,%22sapUiChartDataLabelFontSize%22:%220.75rem%22,%22sapUiChartPopoverDataItemFontColor%22:%22#000%22,%22sapUiChartPopoverGroupFontColor%22:%22#333%22,%22sapUiChartPopoverDataItemFontSize%22:%220.875rem%22,%22sapUiChartPopoverGroupFontSize%22:%220.875rem%22,%22sapUiChartPopoverGroupFontWeight%22:%22bold%22,%22sapUiChartScrollBarThumbColor%22:%22#b2b2b2%22,%22sapUiChartScrollBarTrackColor%22:%22#fff%22,%22sapUiChartScrollBarThumbHoverColor%22:%22#aaa%22,%22sapUiChartMainTitleFontColor%22:%22#333%22,%22sapUiChartAxisTitleFontColor%22:%22#333%22,%22sapUiChartMainTitleFontSize%22:%221rem%22,%22sapUiChartAxisTitleFontSize%22:%220.875rem%22,%22sapUiChartTitleFontWeight%22:%22bold%22,%22sapUiChartLightText%22:%22#707070%22,%22sapUiChartZeroAxisColor%22:%22#666%22,%22sapUiChartDataPointBorderColor%22:%22#fff%22,%22sapUiChartDataPointBorderHoverSelectedColor%22:%22#666%22,%22sapUiChartDataPointNotSelectedBackgroundOpacity%22:%220.6%22,%22sapUiChartValueAxisLineOpacity%22:%220%22,%22sapUiChartCategoryAxisLabelFontHoverColor%22:%22#333%22,%22sapUiChartCategoryAxisLabelFontPressedColor%22:%22#333%22,%22sapUiChartTargetColor%22:%22#333%22,%22sapUiChartTargetShadowColor%22:%22#fff%22,%22sapUiChartBubbleBGOpacity%22:%220.8%22,%22sapUiChartScrollbarBorderColor%22:%22#f2f2f2%22,%22sapUiChartScrollbarBorderSize%22:%220%22,%22sapUiChartScrollbarThumbPadding%22:%220%22,%22sapUiChartNegativeLargeText%22:%22#dc0d0e%22,%22sapUiChartCriticalLargeText%22:%22#de890d%22,%22sapUiChartPositiveLargeText%22:%22#3fa45b%22,%22sapUiChartNeutralLargeText%22:%22#6a757b%22,%22sapUiChartDataPointBG%22:%22#d6dadb%22,%22sapUiChartDataPointBGBorderColor%22:%22#d6dadb%22,%22sapUiChartDataLineColorWithBG%22:%22#333%22,%22sapUiChartDataLineColor%22:%22#333%22,%22sapUiChartRadialRemainingCircle%22:%22#e3e6e7%22,%22sapUiChartRadialRemainingCircleBorderColor%22:%22#e3e6e7%22,%22sapUiChartRadialBG%22:%22#fff%22,%22sapUiChartPaletteQualitativeHue1%22:%22#5899da%22,%22sapUiChartPaletteQualitativeHue2%22:%22#e8743b%22,%22sapUiChartPaletteQualitativeHue3%22:%22#19a979%22,%22sapUiChartPaletteQualitativeHue4%22:%22#ed4a7b%22,%22sapUiChartPaletteQualitativeHue5%22:%22#945ecf%22,%22sapUiChartPaletteQualitativeHue6%22:%22#13a4b4%22,%22sapUiChartPaletteQualitativeHue7%22:%22#525df4%22,%22sapUiChartPaletteQualitativeHue8%22:%22#bf399e%22,%22sapUiChartPaletteQualitativeHue9%22:%22#6c8893%22,%22sapUiChartPaletteQualitativeHue10%22:%22#ee6868%22,%22sapUiChartPaletteQualitativeHue11%22:%22#2f6497%22,%22sapUiChartPaletteSemanticBadLight3%22:%22#f99494%22,%22sapUiChartPaletteSemanticBadLight2%22:%22#f66364%22,%22sapUiChartPaletteSemanticBadLight1%22:%22#f33334%22,%22sapUiChartPaletteSemanticBad%22:%22#dc0d0e%22,%22sapUiChartPaletteSemanticBadDark1%22:%22#b90c0d%22,%22sapUiChartPaletteSemanticBadDark2%22:%22#93090a%22,%22sapUiChartPaletteSemanticCriticalLight3%22:%22#f8cc8c%22,%22sapUiChartPaletteSemanticCriticalLight2%22:%22#f5b04d%22,%22sapUiChartPaletteSemanticCriticalLight1%22:%22#f29b1d%22,%22sapUiChartPaletteSemanticCritical%22:%22#de890d%22,%22sapUiChartPaletteSemanticCriticalDark1%22:%22#c67a0c%22,%22sapUiChartPaletteSemanticCriticalDark2%22:%22#a4650a%22,%22sapUiChartPaletteSemanticGoodLight3%22:%22#a1dbb1%22,%22sapUiChartPaletteSemanticGoodLight2%22:%22#71c989%22,%22sapUiChartPaletteSemanticGoodLight1%22:%22#4cba6b%22,%22sapUiChartPaletteSemanticGood%22:%22#3fa45b%22,%22sapUiChartPaletteSemanticGoodDark1%22:%22#358a4d%22,%22sapUiChartPaletteSemanticGoodDark2%22:%22#2a6d3c%22,%22sapUiChartPaletteSemanticNeutralLight3%22:%22#d6dadb%22,%22sapUiChartPaletteSemanticNeutralLight2%22:%22#bac1c4%22,%22sapUiChartPaletteSemanticNeutralLight1%22:%22#9ea8ad%22,%22sapUiChartPaletteSemanticNeutral%22:%22#848f94%22,%22sapUiChartPaletteSemanticNeutralDark1%22:%22#6a757b%22,%22sapUiChartPaletteSemanticNeutralDark2%22:%22#596368%22,%22sapUiChartPaletteSequentialHue1Light3%22:%22#d5e5f6%22,%22sapUiChartPaletteSequentialHue1Light2%22:%22#b0cfed%22,%22sapUiChartPaletteSequentialHue1Light1%22:%22#8ab8e5%22,%22sapUiChartPaletteSequentialHue1%22:%22#5899da%22,%22sapUiChartPaletteSequentialHue1Dark1%22:%22#2c7ac8%22,%22sapUiChartPaletteSequentialHue1Dark2%22:%22#2566a7%22,%22sapUiChartPaletteSequentialHue2Light3%22:%22#f8d5c4%22,%22sapUiChartPaletteSequentialHue2Light2%22:%22#f3b89b%22,%22sapUiChartPaletteSequentialHue2Light1%22:%22#ee9b72%22,%22sapUiChartPaletteSequentialHue2%22:%22#e8743b%22,%22sapUiChartPaletteSequentialHue2Dark1%22:%22#ce5418%22,%22sapUiChartPaletteSequentialHue2Dark2%22:%22#a94514%22,%22sapUiChartPaletteSequentialHue3Light3%22:%22#71eac2%22,%22sapUiChartPaletteSequentialHue3Light2%22:%22#49e4b0%22,%22sapUiChartPaletteSequentialHue3Light1%22:%22#21de9f%22,%22sapUiChartPaletteSequentialHue3%22:%22#19a979%22,%22sapUiChartPaletteSequentialHue3Dark1%22:%22#117453%22,%22sapUiChartPaletteSequentialHue3Dark2%22:%22#0c5039%22,%22sapUiChartPaletteSequentialNeutralLight3%22:%22#d6dadb%22,%22sapUiChartPaletteSequentialNeutralLight2%22:%22#bac1c4%22,%22sapUiChartPaletteSequentialNeutralLight1%22:%22#9ea8ad%22,%22sapUiChartPaletteSequentialNeutral%22:%22#848f94%22,%22sapUiChartPaletteSequentialNeutralDark1%22:%22#6a757b%22,%22sapUiChartPaletteSequentialNeutralDark2%22:%22#596368%22,%22sapUiChoroplethBG%22:%22#f7f7f8%22,%22sapUiChoroplethRegionBorder%22:%22#fff%22,%22sapUiChoroplethRegionBG%22:%22#bac1c4%22,%22sapUiMapLegendBG%22:%22#fff%22,%22sapUiMapLegendBorderColor%22:%22#ccc%22,%22sapUiShellHoverBackground%22:%22#000%22,%22sapUiShellActiveBackground%22:%22#000%22,%22sapUiShellActiveTextColor%22:%22#8c8c8c%22,%22sapUiShellHoverToggleBackground%22:%22#000%22,%22sapUiUx3ShellHeaderColor%22:%22transparent%22,%22sapUiUx3ShellBackgroundColor%22:%22#eff4f9%22,%22sapUiUx3ShellHoverColor%22:%22#787878%22,%22sapUiUx3ShellGradientBottom%22:%22transparent%22,%22sapUiUx3ShellGradientTop%22:%22rgba%280,0,0,0.03%29%22,%22sapUiUx3ShellToolPaletteIconFontColor%22:%22#889eb1%22,%22sapUiUx3ExactLstExpandOffset%22:%22-1 -2%22,%22sapUiUx3ExactLstRootExpandOffset%22:%220 3%22,%22sapUiUx3ExactLstContentTop%22:%2225px%22,%22sapUiLinkActive%22:%22#0070b1%22,%22sapUiLinkVisited%22:%22#0070b1%22,%22sapUiLinkHover%22:%22#0070b1%22,%22sapUiLinkInverted%22:%22#7ed0ff%22,%22sapUiNotificationBarBG%22:%22rgba%2851,51,51,0.98%29%22,%22sapUiNotifierSeparator%22:%22#000%22,%22sapUiNotifierSeparatorWidth%22:%221px%22,%22sapUiNotificationBarBorder%22:%22#666%22,%22sapUiUx3ToolPopupInverted%22:%22false%22,%22sapUiUx3ToolPopupArrowRightMarginCorrection%22:%22-1px%22,%22sapUiUx3ToolPopupShadow%22:%220px 6px 12px 0px rgba%280,0,0,0.3%29%22,%22sapUiCalloutShadow%22:%220px 6px 12px 0px rgba%280,0,0,0.3%29%22,%22sapUiButtonIconColor%22:%22#000%22,%22sapUiButtonActiveBackground%22:%22#000000%22,%22sapUiButtonActiveBorderColor%22:%22#000000%22,%22sapUiButtonActiveTextColor%22:%22#fff%22,%22sapUiButtonEmphasizedHoverBackground%22:%22#0d0d0d%22,%22sapUiButtonEmphasizedHoverBorderColor%22:%22#0d0d0d%22,%22sapUiButtonEmphasizedActiveBackground%22:%22#000000%22,%22sapUiButtonEmphasizedActiveBorderColor%22:%22#000000%22,%22sapUiButtonEmphasizedTextShadow%22:%22rgba%280,0,0,0.5%29%22,%22sapUiButtonAcceptBorderColor%22:%22#2b7c2b%22,%22sapUiButtonAcceptHoverBackground%22:%22#eaeaea%22,%22sapUiButtonAcceptHoverBorderColor%22:%22#2b7c2b%22,%22sapUiButtonAcceptActiveBackground%22:%22#2b7c2b%22,%22sapUiButtonAcceptActiveBorderColor%22:%22#2b7c2b%22,%22sapUiButtonAcceptTextColor%22:%22#2b7c2b%22,%22sapUiButtonRejectBorderColor%22:%22#bb0000%22,%22sapUiButtonRejectHoverBackground%22:%22#eaeaea%22,%22sapUiButtonRejectHoverBorderColor%22:%22#bb0000%22,%22sapUiButtonRejectActiveBackground%22:%22#bb0000%22,%22sapUiButtonRejectActiveBorderColor%22:%22#bb0000%22,%22sapUiButtonRejectTextColor%22:%22#b00%22,%22sapUiButtonLiteBackground%22:%22transparent%22,%22sapUiButtonLiteBorderColor%22:%22transparent%22,%22sapUiButtonLiteTextColor%22:%22#000%22,%22sapUiButtonLiteHoverBackground%22:%22rgba%28178,178,178,0.5%29%22,%22sapUiButtonLiteHoverBorderColor%22:%22rgba%28178,178,178,0.5%29%22,%22sapUiButtonLiteActiveBackground%22:%22#000000%22,%22sapUiButtonLiteActiveBorderColor%22:%22#000000%22,%22sapUiButtonHeaderTextColor%22:%22#000%22,%22sapUiButtonHeaderDisabledTextColor%22:%22#000%22,%22sapUiButtonFooterTextColor%22:%22#000%22,%22sapUiButtonFooterHoverBackground%22:%22rgba%28178,178,178,0.5%29%22,%22sapUiButtonActionSelectBackground%22:%22#ffffff%22,%22sapUiButtonActionSelectBorderColor%22:%22#ebebeb%22,%22sapUiButtonLiteActionSelectHoverBackground%22:%22#f7f7f7%22,%22sapUiToggleButtonPressedBackground%22:%22#000%22,%22sapUiToggleButtonPressedBorderColor%22:%22#000%22,%22sapUiToggleButtonPressedTextColor%22:%22#fff%22,%22sapUiToggleButtonPressedHoverBackground%22:%22#1a1a1a%22,%22sapUiToggleButtonPressedHoverBorderColor%22:%22#1a1a1a%22,%22sapUiToggleButtonPressedDisabledBackground%22:%22#000%22,%22sapUiToggleButtonPressedDisabledBorderColor%22:%22#000%22,%22sapUiToggleButtonPressedDisabledTextColor%22:%22#bfbfbf%22,%22sapUiSegmentedButtonBackground%22:%22#fff%22,%22sapUiSegmentedButtonBorderColor%22:%22#bfbfbf%22,%22sapUiSegmentedButtonTextColor%22:%22#000%22,%22sapUiSegmentedButtonHoverBackground%22:%22#eaeaea%22,%22sapUiSegmentedButtonActiveBackground%22:%22#000000%22,%22sapUiSegmentedButtonActiveTextColor%22:%22#fff%22,%22sapUiSegmentedButtonSelectedBackground%22:%22#000%22,%22sapUiSegmentedButtonSelectedTextColor%22:%22#fff%22,%22sapUiSegmentedButtonSelectedHoverBackground%22:%22#1a1a1a%22,%22sapUiSegmentedButtonSelectedHoverBorderColor%22:%22#1a1a1a%22,%22sapUiSegmentedButtonIconColor%22:%22#000%22,%22sapUiSegmentedButtonActiveIconColor%22:%22#fff%22,%22sapUiSegmentedButtonSelectedIconColor%22:%22#fff%22,%22sapUiSegmentedButtonFooterBorderColor%22:%22#bfbfbf%22,%22sapUiSegmentedButtonFooterHoverBackground%22:%22#eaeaea%22,%22sapUiFieldActiveBackground%22:%22#000000%22,%22sapUiFieldActiveBorderColor%22:%22#000000%22,%22sapUiFieldActiveTextColor%22:%22#fff%22,%22sapUiFieldPlaceholderTextColor%22:%22#757575%22,%22sapUiListTextColor%22:%22#333333%22,%22sapUiListVerticalBorderColor%22:%22#ddd%22,%22sapUiListActiveBackground%22:%22#000000%22,%22sapUiListActiveTextColor%22:%22#fff%22,%22sapUiListSelectionHoverBackground%22:%22#707070%22,%22sapUiListFooterBackground%22:%22#677178%22,%22sapUiListFooterTextColor%22:%22#333%22,%22sapUiListGroupHeaderBackground%22:%22#ffffff%22,%22sapUiListTableGroupHeaderBackground%22:%22#f2f2f2%22,%22sapUiListTableGroupHeaderBorderColor%22:%22#ccc%22,%22sapUiListTableGroupHeaderTextColor%22:%22#333%22,%22sapUiListTableFooterBorder%22:%22#ccc%22,%22sapUiListTableFixedBorder%22:%22#999%22,%22sapUiListTableTextSize%22:%220.875rem%22,%22sapUiListTableIconSize%22:%221rem%22,%22sapUiPageFooterBorderColor%22:%22#ebebeb%22,%22sapUiInfobarHoverBackground%22:%22#147575%22,%22sapUiInfobarActiveBackground%22:%22#000000%22,%22sapUiCalendarColorToday%22:%22#ab218e%22,%22sapUiShadowLevel0%22:%220 0 0.125rem 0 rgba%280,0,0,0.3%29%22,%22sapUiShadowLevel1%22:%220 0.125rem 0.375rem 0 rgba%280,0,0,0.2%29, 0 0 0.125rem 0 rgba%280,0,0,0.3%29%22,%22sapUiShadowLevel2%22:%220 0.375rem 0.750rem 0 rgba%280,0,0,0.3%29, 0 0 0.125rem 0 rgba%280,0,0,0.3%29%22,%22sapUiShadowLevel3%22:%220 1.250rem 2rem 0 rgba%280,0,0,0.5%29, 0 0 0.125rem 0 rgba%280,0,0,0.3%29%22,%22sapUiShadowText%22:%220 0 0.125rem #fff%22,%22sapUiShadowHeader%22:%220 0.125rem 0 0 #fff%22,%22sapUiUx3ShellHeaderImageURL%22:%22%22,%22sapUiUx3ShellApplicationImageURL%22:%22url%28%27../../../../../Base/baseLib/open_space_belize/img/misc/sapCompanyLogo.png%27%29%22,%22sapUiPurple%22:%22purple%22,%22sapUiOrange%22:%22orange%22,%22sapUiGreen%22:%22green%22,%22sapUiBlue%22:%22blue%22,%22sapUiRed%22:%22red%22,%22sapUiYellow%22:%22yellow%22,%22sapUiBase%22:%22#000%22,%22sapUiBaseBorder%22:%22#000%22,%22sapUiBaseLine%22:%22#000%22,%22sapUiWhite%22:%22#FFFFFF%22,%22sapUiWhiteBG%22:%22#fff%22,%22sapUiExtraLightBG%22:%22#fafafa%22,%22sapUiLightBG%22:%22lightgray%22,%22sapUiMediumBG%22:%22gray%22,%22sapUiDarkBG%22:%22darkgray%22,%22sapUiDeepBG%22:%22black%22,%22sapUiBlackBG%22:%22#000000%22,%22sapUiHoverBG%22:%22grey%22,%22sapUiMediumAltBG%22:%22grey%22,%22sapUiDarkAltBG%22:%22darkgrey%22,%22sapUiButtonStandardBG%22:%22#fafafa%22,%22sapUiButtonEmphasizedBG%22:%22yellow%22,%22sapUiButtonNegativeBG%22:%22red%22,%22sapUiButtonPositiveBG%22:%22green%22,%22sapUiReadOnlyBG%22:%22grey%22,%22sapUiExtraLightText%22:%22lightgray%22,%22sapUiLightText%22:%22lightgray%22,%22sapUiMediumText%22:%22grey%22,%22sapUiDarkText%22:%22darkgrey%22,%22sapUiDeepText%22:%22black%22,%22sapUiText%22:%22#333333%22,%22sapUiTextInverted%22:%22#fff%22,%22sapUiWhiteBorder%22:%22#fff%22,%22sapUiExtraLightBorder%22:%22lightgrey%22,%22sapUiLightBorder%22:%22grey%22,%22sapUiMediumBorder%22:%22#000%22,%22sapUiDarkBorder%22:%22#000%22,%22sapUiBlackBorder%22:%22#000%22,%22sapUiElement%22:%22lightgrey%22,%22sapUiInvertedElement%22:%22#ffffff%22,%22sapUiLightLine%22:%22lightgrey%22,%22sapUiMediumLine%22:%22grey%22,%22sapUiEmphasizedLine%22:%22#000000%22,%22sapUiDarkLine%22:%22darkgrey%22,%22sapUiLightShadowTint%22:%22#ffffff%22,%22sapUiDarkShadowTint%22:%22#000000%22,%22sapUiFocus%22:%22#000000%22,%22sapUiInvertedFocus%22:%22#ffffff%22,%22sapUiTableRowBG%22:%22#FFFFFF%22,%22sapUiTableRowAlternatingBG%22:%22#FFFFFF%22,%22sapUiTableRowSelectionBG%22:%22#000000%22,%22sapUiTableRowSelectionReadOnlyBG%22:%22#000000%22,%22sapUiTableRowHoverBG%22:%22grey%22,%22sapUiListBG%22:%22#f7f7f7%22,%22sapUiTextColor%22:%22green%22,%22sapUiTextTitleColor%22:%22green%22,%22sapUiTextSelectionColor%22:%22green%22,%22sapUiTextDisabled%22:%22#ccc%22,%22sapUiTextSelection%22:%22#fff%22,%22sapUiTextfieldBackground%22:%22#FFFFFF%22,%22sapUiFontMonospaceFamily%22:%22Lucida Console%22,%22sapUiUx3ShellSideBarBaseWidth%22:%2240px%22,%22sapUiUx3ShellPaneOverflowButtonHeight%22:%22120px%22,%22sapUiUx3ExactLstCollapseWidth%22:%2224px%22,%22sapUiUx3ExactLstHeaderHeight%22:%2225px%22,%22sapUiNotificationBarBG_IE%22:%22grey%22,%22sapUiNotifierHoverColor%22:%22#000000%22,%22sapUiNotificationText%22:%22#fff%22,%22sapUiNotificationTimestamp%22:%22#ababab%22,%22sapUiNotificationBarCalloutBorder%22:%22rgba%28128,128,128,0%29%22,%22sapUiNotificationBarCalloutBorder_IE%22:%22grey%22,%22sapUiNotificationBarCalloutArr%22:%22rgba%2851,51,51,0.98%29%22,%22sapUiNotificationBarHeight%22:%2240px%22,%22sapUiNotificationBarHeightMinimized%22:%220px%22,%22sapUiNotificationBarHeightMaximized%22:%2240%25%22,%22sapUiNotifierWidth%22:%2240px%22,%22sapUiRIIconPaddingXS%22:%221px%22,%22sapUiRIIconPaddingS%22:%220.125rem%22,%22sapUiRIIconPaddingM%22:%220.125rem%22,%22sapUiRIIconPaddingL%22:%220.25rem%22,%22sapUiUx3ToolPopupArrowWidth%22:%2213px%22,%22sapUiUx3ToolPopupArrowHeight%22:%2224px%22,%22sapUiUx3ToolPopupArrowRightMarginCorrectionInverted%22:%22-7px%22,%22sapUiUx3TPPaddingBottom%22:%2250px%22,%22sapUiButtonEmphasizedDisabledBorderColor%22:%22#0d0d0d%22,%22sapUiButtonEmphasizedDisabledBackground%22:%22#1a1a1a%22,%22sapUiButtonAcceptDisabledBorderColor%22:%22#2b7c2b%22,%22sapUiButtonAcceptDisabledBackground%22:%22#f7f7f7%22,%22sapUiButtonRejectDisabledBorderColor%22:%22#bb0000%22,%22sapUiButtonRejectDisabledBackground%22:%22#f7f7f7%22,%22sapUiPositiveBG%22:%22#2b7c2b%22,%22sapUiShadowTint%22:%22#000%22,%22sapUiShadow%22:%225px 5px 10px rgba%280,0,0,0.5%29%22,%22sapUiThemeDesignerCustomCss%22:%22false%22,%22sapUiMarginTiny%22:%220.5rem%22,%22sapUiMarginSmall%22:%221rem%22,%22sapUiMarginMedium%22:%222rem%22,%22sapUiMarginLarge%22:%223rem%22,%22sapUiEscapedEmptyString%22:%22%22,%22sapMDialogMarginHeight%22:%227%25%22,%22sapMDialogBarHeight%22:%223rem%22,%22sapMDialogBarCompactHeight%22:%222.5rem%22,%22sapMDialogPadding%22:%221rem%22,%22line-height%22:%221.875rem%22,%22padding-top%22:%220.125rem%22,%22padding-bottom%22:%220.125rem%22,%22lightBoxMinHeight%22:%2218rem%22,%22footerOneLineHeightDesktop%22:%222.5rem%22,%22footerTwoLinesHeightDesktop%22:%224rem%22,%22footerOneLineHeightMobile%22:%223rem%22,%22footerTwoLinesHeightMobile%22:%224.5rem%22,%22busyIndicatorHeight%22:%221rem%22,%22containerPaddingLeft%22:%221.5rem%22,%22containerPadding%22:%221rem%22,%22closeButtonSize%22:%222.5rem%22,%22closeButtonCompactSize%22:%221.625rem%22,%22closeButtonCozyPosition%22:%220.25rem%22,%22closeButtonCompactPosition%22:%220.5rem%22,%22bottomMargin%22:%220.5rem%22,%22sapMShellAppWidthLimit%22:%221280px%22,%22sapMShellAppWidthLimitBy2%22:%22640px%22,%22sapMShellAppHeight%22:%223333px%22,%22sapMShellHeaderHeight%22:%2268px%22,%22sapMShellMinHeightForHeader%22:%223401px%22,%22sapMShellMinWidthForLogoAside%22:%221480px%22,%22sapMShellMinWidthForBigLogoAside%22:%221680px%22,%22sapMShellContentBG%22:%22rgba%28255,255,255,0.3%29%22,%22sapMShellAppWidthLimitPlusPadding%22:%221296px%22,%22sapMTitleSize1%22:%221.625rem%22,%22sapMTitleSize2%22:%221.375rem%22,%22sapMTitleSize3%22:%221.250rem%22,%22sapMTitleSize4%22:%221.125rem%22,%22sapMTitleSize5%22:%221rem%22,%22sapMTitleSize6%22:%220.875rem%22,%22sapMTitleColor%22:%22#333%22,%22sapMTitleFontFamily%22:%22%5C%2272%5C%22, Arial, Helvetica, sans-serif%22,%22sapMTitleFontWeight%22:%22normal%22,%22_sap_m_Token_TokenPadding%22:%220.5rem%22,%22_sap_m_Token_TokenCompactPadding%22:%220.25rem%22,%22_sap_m_Token_TokenSize%22:%222rem%22,%22_sap_m_Token_TokenCompactSize%22:%221.25rem%22,%22navHeight%22:%224rem%22,%22listHeight%22:%222rem%22,%22stepWidth%22:%222rem%22,%22stepPadding%22:%220.5rem%22,%22smallSeparator%22:%220.25rem%22,%22stepUnderlineHeight%22:%220.125rem%22,%22stepUnderlineWidth%22:%223rem%22,%22stepOverlapOnPhone%22:%221.75rem%22,%22sapBackgroundColorDefault%22:%22#fafafa%22,%22sapPrimary1%22:%22#3f5161%22,%22sapPrimary2%22:%22#427cac%22,%22sapPrimary3%22:%22#eff4f9%22,%22sapPrimary4%22:%22#ffffff%22,%22sapPrimary5%22:%22#fafafa%22,%22sapPrimary6%22:%22#bfbfbf%22,%22sapPrimary7%22:%22#333333%22,%22sapAccentColor1%22:%22#e09d00%22,%22sapAccentColor2%22:%22#e6600d%22,%22sapAccentColor3%22:%22#c14646%22,%22sapAccentColor4%22:%22#ab218e%22,%22sapAccentColor5%22:%22#678bc7%22,%22sapAccentColor6%22:%22#0092d1%22,%22sapAccentColor7%22:%22#1a9898%22,%22sapAccentColor8%22:%22#759421%22,%22sapErrorBackground%22:%22#ffe4e4%22,%22sapWarningBackground%22:%22#fef0db%22,%22sapSuccessBackground%22:%22#e4f5e4%22,%22sapNeutralBackground%22:%22#f4f5f6%22,%22sapErrorBorderColor%22:%22#e00%22,%22sapWarningBorderColor%22:%22#f9a429%22,%22sapSuccessBorderColor%22:%22#38a238%22,%22sapNegativeTextColor%22:%22#bb0000%22,%22sapCriticalTextColor%22:%22#e78c07%22,%22sapPositiveTextColor%22:%22#2b7c2b%22,%22sapNeutralTextColor%22:%22#5e696e%22,%22sapErrorColor%22:%22#e00%22,%22sapWarningColor%22:%22#f9a429%22,%22sapSuccessColor%22:%22#38a238%22,%22sapShell_BackgroundPatternColor%22:%22rgba%28255,255,255,0.08%29%22,%22sapUiContentMarkerTextColor%22:%22#147575%22,%22sapUiShellBackgroundPatternColor%22:%22rgba%28255,255,255,0.08%29%22,%22sapUiPrimary1%22:%22#3f5161%22,%22sapUiPrimary2%22:%22#427cac%22,%22sapUiPrimary3%22:%22#eff4f9%22,%22sapUiPrimary4%22:%22#ffffff%22,%22sapUiPrimary5%22:%22#fafafa%22,%22sapUiPrimary6%22:%22#bfbfbf%22,%22sapUiPrimary7%22:%22#333333%22,%22sapUiAccent1%22:%22#e09d00%22,%22sapUiAccent2%22:%22#e6600d%22,%22sapUiAccent3%22:%22#c14646%22,%22sapUiAccent4%22:%22#ab218e%22,%22sapUiAccent5%22:%22#678bc7%22,%22sapUiAccent6%22:%22#0092d1%22,%22sapUiAccent7%22:%22#1a9898%22,%22sapUiAccent8%22:%22#759421%22,%22_sap_m_IconTabBar_SelectedTextColor%22:%22#000%22,%22sapMPopoverForceCompactArrowOffset%22:%22true%22,%22_sap_m_Slider_HandleHoverBackground%22:%22rgba%28217,217,217,0.6%29%22,%22_sap_m_Slider_HandleBorderColor%22:%22#999%22,%22sapMSwitch-ONPOSITION%22:%22-32%22,%22sapMSwitch-OFFPOSITION%22:%220%22,%22sapMSwitch-TRANSITIONTIME%22:%22175%22%7D,%22scopes%22:%7B%22sapContrast%22:%7B%22sapBrandColor%22:%22#427cac%22,%22sapHighlightColor%22:%22#91c8f6%22,%22sapBaseColor%22:%22#3f5161%22,%22sapBackgroundColor%22:%22#3f5161%22,%22sapTextColor%22:%22#fafafa%22,%22sapLinkColor%22:%22#7ed0ff%22,%22sapCompanyLogo%22:%22none%22,%22sapSelectedColor%22:%22#91c8f6%22,%22sapActiveColor%22:%22#91c8f6%22,%22sapHighlightTextColor%22:%22#2f3c48%22,%22sapTitleColor%22:%22#fafafa%22,%22sapNegativeColor%22:%22#ff8888%22,%22sapCriticalColor%22:%22#fabd64%22,%22sapPositiveColor%22:%22#abe2ab%22,%22sapNeutralColor%22:%22#d3d7d9%22,%22sapNegativeElementColor%22:%22#ff8888%22,%22sapCriticalElementColor%22:%22#fabd64%22,%22sapPositiveElementColor%22:%22#abe2ab%22,%22sapNeutralElementColor%22:%22#d3d7d9%22,%22sapContent_IconColor%22:%22#cae4fb%22,%22sapContent_ContrastIconColor%22:%22#2f3c48%22,%22sapContent_NonInteractiveIconColor%22:%22#97aabb%22,%22sapContent_MarkerIconColor%22:%22#8ca7d5%22,%22sapContent_FocusColor%22:%22#fff%22,%22sapContent_ContrastFocusColor%22:%22#000%22,%22sapContent_SearchHighlightColor%22:%22#058088%22,%22sapContent_LabelColor%22:%22#ddd%22,%22sapContent_DisabledTextColor%22:%22rgba%28250,250,250,0.5%29%22,%22sapContent_ContrastTextThreshold%22:%220.5%22,%22sapContent_ContrastTextColor%22:%22#2f3c48%22,%22sapContent_ForegroundColor%22:%22#4d6377%22,%22sapContent_ForegroundBorderColor%22:%22#889eb1%22,%22sapContent_ForegroundTextColor%22:%22#fafafa%22,%22sapShell_Background%22:%22#6585a3%22,%22sapShell_BackgroundImage%22:%22linear-gradient%28to bottom, #2b4863, #9ebfde%29%22,%22sapShell_BackgroundGradient%22:%22linear-gradient%28to bottom, #2b4863, #9ebfde%29%22,%22sapShell_TextColor%22:%22#fff%22,%22sapButton_Background%22:%22#435667%22,%22sapButton_BorderColor%22:%22#a0b2c1%22,%22sapButton_TextColor%22:%22#cae4fb%22,%22sapButton_Hover_Background%22:%22#4f657a%22,%22sapButton_Hover_BorderColor%22:%22#a0b2c1%22,%22sapButton_Hover_TextColor%22:%22#62b0f2%22,%22sapButton_Emphasized_Background%22:%22#5496cd%22,%22sapButton_Emphasized_BorderColor%22:%22#408ac7%22,%22sapButton_Reject_Background%22:%22#435667%22,%22sapButton_Accept_Background%22:%22#435667%22,%22sapField_Background%22:%22#495e70%22,%22sapField_BorderColor%22:%22#7891a7%22,%22sapField_TextColor%22:%22#fff%22,%22sapField_HelpBackground%22:%22#495e70%22,%22sapField_Hover_Background%22:%22#495e70%22,%22sapField_Hover_BorderColor%22:%22#91c8f6%22,%22sapField_Hover_HelpBackground%22:%22#91c8f6%22,%22sapField_Focus_Background%22:%22#495e70%22,%22sapField_Focus_BorderColor%22:%22#7891a7%22,%22sapField_Focus_HelpBackground%22:%22#495e70%22,%22sapField_Disabled_TextColor%22:%22rgba%28255,255,255,0.5%29%22,%22sapField_ReadOnly_Background%22:%22transparent%22,%22sapField_ReadOnly_BorderColor%22:%22#7891a7%22,%22sapField_ReadOnly_HelpBackground%22:%22transparent%22,%22sapField_RequiredColor%22:%22#d88b8b%22,%22sapField_InvalidColor%22:%22#ff8888%22,%22sapField_InvalidBackground%22:%22#495e70%22,%22sapField_WarningColor%22:%22#fabd64%22,%22sapField_WarningBackground%22:%22#495e70%22,%22sapField_SuccessColor%22:%22#abe2ab%22,%22sapField_SuccessBackground%22:%22#495e70%22,%22sapGroup_TitleBorderColor%22:%22#69859d%22,%22sapGroup_TitleTextColor%22:%22#fafafa%22,%22sapGroup_ContentBackground%22:%22#3f5161%22,%22sapGroup_ContentBorderColor%22:%22#4f667a%22,%22sapToolbar_SeparatorColor%22:%22rgba%28239,244,249,0.2%29%22,%22sapList_HeaderBackground%22:%22#3c4d5c%22,%22sapList_HeaderBorderColor%22:%22#4d6377%22,%22sapList_HeaderTextColor%22:%22#fafafa%22,%22sapList_BorderColor%22:%22#4d6377%22,%22sapList_HighlightColor%22:%22#427cac%22,%22sapList_SelectionBackgroundColor%22:%22#496b8a%22,%22sapList_Background%22:%22#3f5161%22,%22sapList_Hover_Background%22:%22#45596a%22,%22sapScrollBar_FaceColor%22:%22#0099db%22,%22sapScrollBar_TrackColor%22:%22#3f5161%22,%22sapScrollBar_BorderColor%22:%22#0099db%22,%22sapScrollBar_SymbolColor%22:%22#cae4fb%22,%22sapScrollBar_Hover_FaceColor%22:%22#00a4ea%22,%22sapPageHeader_Background%22:%22#3f5161%22,%22sapPageHeader_BorderColor%22:%22#4f667a%22,%22sapPageHeader_TextColor%22:%22#fafafa%22,%22sapPageFooter_Background%22:%22#2f3c48%22,%22sapPageFooter_TextColor%22:%22#fafafa%22,%22sapObjectHeader_Background%22:%22#3f5161%22,%22sapTile_Background%22:%22#3f5161%22,%22sapTile_TitleTextColor%22:%22#fafafa%22,%22sapTile_TextColor%22:%22#ddd%22,%22sapTile_IconColor%22:%22#83c0f6%22,%22sapChart_Bad%22:%22#f55556%22,%22sapChart_Critical%22:%22#f4ac44%22,%22sapChart_Good%22:%22#69c683%22,%22sapChart_Neutral%22:%22#9ea8ad%22,%22sapChart_Sequence_Neutral%22:%22#9ea8ad%22,%22sapUiBrand%22:%22#427cac%22,%22sapUiHighlight%22:%22#91c8f6%22,%22sapUiBaseColor%22:%22#3f5161%22,%22sapUiBaseBG%22:%22#3f5161%22,%22sapUiGlobalBackgroundColor%22:%22#3f5161%22,%22sapUiBaseText%22:%22#fafafa%22,%22sapUiLink%22:%22#7ed0ff%22,%22sapUiGlobalLogo%22:%22none%22,%22sapUiSelected%22:%22#91c8f6%22,%22sapUiActive%22:%22#91c8f6%22,%22sapUiHighlightTextColor%22:%22#2f3c48%22,%22sapUiTextTitle%22:%22#fafafa%22,%22sapUiContentIconColor%22:%22#cae4fb%22,%22sapUiContentContrastIconColor%22:%22#2f3c48%22,%22sapUiContentNonInteractiveIconColor%22:%22#97aabb%22,%22sapUiContentMarkerIconColor%22:%22#8ca7d5%22,%22sapUiContentImagePlaceholderBackground%22:%22#69859d%22,%22sapUiContentImagePlaceholderForegroundColor%22:%22#495e70%22,%22sapUiContentFocusColor%22:%22#fff%22,%22sapUiContentContrastFocusColor%22:%22#000%22,%22sapUiContentSearchHighlightColor%22:%22#058088%22,%22sapUiContentLabelColor%22:%22#ddd%22,%22sapUiContentDisabledTextColor%22:%22rgba%28250,250,250,0.5%29%22,%22sapUiContentContrastTextThreshold%22:%220.5%22,%22sapUiContentContrastTextColor%22:%22#2f3c48%22,%22sapUiContentForegroundColor%22:%22#4d6377%22,%22sapUiContentForegroundBorderColor%22:%22#889eb1%22,%22sapUiContentForegroundTextColor%22:%22#fafafa%22,%22sapUiShellBackground%22:%22#6585a3%22,%22sapUiShellBackgroundImage%22:%22linear-gradient%28to bottom, #2b4863, #9ebfde%29%22,%22sapUiShellBackgroundGradient%22:%22linear-gradient%28to bottom, #2b4863, #9ebfde%29%22,%22sapUiShellTextColor%22:%22#fff%22,%22sapUiButtonBackground%22:%22#435667%22,%22sapUiButtonBorderColor%22:%22#a0b2c1%22,%22sapUiButtonTextColor%22:%22#cae4fb%22,%22sapUiButtonHoverBackground%22:%22#4f657a%22,%22sapUiButtonHoverBorderColor%22:%22#a0b2c1%22,%22sapUiButtonHoverTextColor%22:%22#62b0f2%22,%22sapUiButtonEmphasizedBackground%22:%22#5496cd%22,%22sapUiButtonEmphasizedBorderColor%22:%22#408ac7%22,%22sapUiButtonRejectBackground%22:%22#435667%22,%22sapUiButtonAcceptBackground%22:%22#435667%22,%22sapUiFieldBackground%22:%22#495e70%22,%22sapUiFieldBorderColor%22:%22#7891a7%22,%22sapUiFieldTextColor%22:%22#fff%22,%22sapUiFieldHelpBackground%22:%22#495e70%22,%22sapUiFieldHoverBackground%22:%22#495e70%22,%22sapUiFieldHoverBorderColor%22:%22#91c8f6%22,%22sapUiFieldHoverHelpBackground%22:%22#91c8f6%22,%22sapUiFieldFocusBackground%22:%22#495e70%22,%22sapUiFieldFocusBorderColor%22:%22#7891a7%22,%22sapUiFieldFocusHelpBackground%22:%22#495e70%22,%22sapUiFieldReadOnlyBackground%22:%22transparent%22,%22sapUiFieldReadOnlyBorderColor%22:%22#7891a7%22,%22sapUiFieldReadOnlyHelpBackground%22:%22transparent%22,%22sapUiFieldDisabledTextColor%22:%22rgba%28255,255,255,0.5%29%22,%22sapUiFieldRequiredColor%22:%22#d88b8b%22,%22sapUiFieldInvalidColor%22:%22#ff8888%22,%22sapUiFieldInvalidBackground%22:%22#495e70%22,%22sapUiFieldWarningColor%22:%22#fabd64%22,%22sapUiFieldWarningBackground%22:%22#495e70%22,%22sapUiFieldSuccessColor%22:%22#abe2ab%22,%22sapUiFieldSuccessBackground%22:%22#495e70%22,%22sapUiGroupTitleBorderColor%22:%22#69859d%22,%22sapUiGroupTitleTextColor%22:%22#fafafa%22,%22sapUiGroupContentBackground%22:%22#3f5161%22,%22sapUiGroupContentBorderColor%22:%22#4f667a%22,%22sapUiToolbarSeparatorColor%22:%22rgba%28239,244,249,0.2%29%22,%22sapUiListHeaderBackground%22:%22#3c4d5c%22,%22sapUiListHeaderBorderColor%22:%22#4d6377%22,%22sapUiListHeaderTextColor%22:%22#fafafa%22,%22sapUiListBorderColor%22:%22#4d6377%22,%22sapUiListHighlightColor%22:%22#427cac%22,%22sapUiListSelectionBackgroundColor%22:%22#496b8a%22,%22sapUiListBackground%22:%22#3f5161%22,%22sapUiListHoverBackground%22:%22#45596a%22,%22sapUiScrollBarFaceColor%22:%22#0099db%22,%22sapUiScrollBarTrackColor%22:%22#3f5161%22,%22sapUiScrollBarBorderColor%22:%22#0099db%22,%22sapUiScrollBarSymbolColor%22:%22#cae4fb%22,%22sapUiScrollBarHoverFaceColor%22:%22#00a4ea%22,%22sapUiPageHeaderBackground%22:%22#3f5161%22,%22sapUiPageHeaderBorderColor%22:%22#4f667a%22,%22sapUiPageHeaderTextColor%22:%22#fafafa%22,%22sapUiPageFooterBackground%22:%22#2f3c48%22,%22sapUiPageFooterTextColor%22:%22#fafafa%22,%22sapUiObjectHeaderBackground%22:%22#3f5161%22,%22sapUiTileBackground%22:%22#3f5161%22,%22sapUiTileTitleTextColor%22:%22#fafafa%22,%22sapUiTileTextColor%22:%22#ddd%22,%22sapUiTileIconColor%22:%22#83c0f6%22,%22sapUiChartBad%22:%22#f55556%22,%22sapUiChartCritical%22:%22#f4ac44%22,%22sapUiChartGood%22:%22#69c683%22,%22sapUiChartNeutral%22:%22#9ea8ad%22,%22sapUiChartSequenceNeutral%22:%22#9ea8ad%22,%22sapUiErrorBG%22:%22#500%22,%22sapUiWarningBG%22:%22#5c3803%22,%22sapUiSuccessBG%22:%22#174417%22,%22sapUiNeutralBG%22:%22#393e41%22,%22sapUiErrorBorder%22:%22#ff8888%22,%22sapUiWarningBorder%22:%22#fabd64%22,%22sapUiSuccessBorder%22:%22#abe2ab%22,%22sapUiNeutralBorder%22:%22#d3d7d9%22,%22sapUiNegativeElement%22:%22#ff8888%22,%22sapUiCriticalElement%22:%22#fabd64%22,%22sapUiPositiveElement%22:%22#abe2ab%22,%22sapUiNeutralElement%22:%22#d3d7d9%22,%22sapUiNegativeText%22:%22#ff8888%22,%22sapUiCriticalText%22:%22#fabd64%22,%22sapUiPositiveText%22:%22#abe2ab%22,%22sapUiNeutralText%22:%22#d3d7d9%22,%22sapUiNegative%22:%22#ff8888%22,%22sapUiCritical%22:%22#fabd64%22,%22sapUiPositive%22:%22#abe2ab%22,%22sapUiNeutral%22:%22#d3d7d9%22,%22sapUiErrorColor%22:%22#fbb%22,%22sapUiWarningColor%22:%22#fcd295%22,%22sapUiSuccessColor%22:%22#d1efd1%22,%22sapUiChartLabelHoverColor%22:%22#4f657a%22,%22sapUiChartLabelPressedColor%22:%22#427cac%22,%22sapUiChartCategoryAxisLabelFontColor%22:%22#fafafa%22,%22sapUiChartValueAxisLabelFontColor%22:%22#fafafa%22,%22sapUiChartLegendLabelFontColor%22:%22#fafafa%22,%22sapUiChartLegendTitleFontColor%22:%22#fafafa%22,%22sapUiChartPaletteUndefinedColor%22:%22#fafafa%22,%22sapUiChartGridlineColor%22:%22#999%22,%22sapUiChartReferenceLineColor%22:%22#fff%22,%22sapUiChartDataLabelFontColor%22:%22#fafafa%22,%22sapUiChartReferenceLineLabelColor%22:%22#fafafa%22,%22sapUiChartPopoverDataItemFontColor%22:%22#fafafa%22,%22sapUiChartPopoverGroupFontColor%22:%22#fafafa%22,%22sapUiChartScrollBarThumbColor%22:%22#0099db%22,%22sapUiChartScrollBarTrackColor%22:%22#3f5161%22,%22sapUiChartScrollBarThumbHoverColor%22:%22#00a4ea%22,%22sapUiChartMainTitleFontColor%22:%22#fafafa%22,%22sapUiChartAxisTitleFontColor%22:%22#fafafa%22,%22sapUiChartLightText%22:%22#fafafa%22,%22sapUiChartZeroAxisColor%22:%22#fff%22,%22sapUiChartDataPointBorderColor%22:%22#3f5161%22,%22sapUiChartDataPointBorderHoverSelectedColor%22:%22#fff%22,%22sapUiChartDataPointNotSelectedBackgroundOpacity%22:%220.7%22,%22sapUiChartCategoryAxisLabelFontHoverColor%22:%22#fafafa%22,%22sapUiChartCategoryAxisLabelFontPressedColor%22:%22#fafafa%22,%22sapUiChartTargetColor%22:%22#fff%22,%22sapUiChartTargetShadowColor%22:%22#000%22,%22sapUiChartBubbleBGOpacity%22:%220.9%22,%22sapUiChartScrollbarBorderColor%22:%22#0099db%22,%22sapUiChartNegativeLargeText%22:%22#f77c7c%22,%22sapUiChartCriticalLargeText%22:%22#f7c174%22,%22sapUiChartPositiveLargeText%22:%22#a0dbb1%22,%22sapUiChartNeutralLargeText%22:%22#f1f2f3%22,%22sapUiChartDataPointBG%22:%22#848f94%22,%22sapUiChartDataPointBGBorderColor%22:%22#848f94%22,%22sapUiChartDataLineColor%22:%22#fff%22,%22sapUiChartRadialRemainingCircle%22:%22#848f94%22,%22sapUiChartRadialRemainingCircleBorderColor%22:%22#848f94%22,%22sapUiChartRadialBG%22:%22transparent%22,%22sapUiChartPaletteSemanticBadLight3%22:%22#fbc4c4%22,%22sapUiChartPaletteSemanticBadLight2%22:%22#f99d9e%22,%22sapUiChartPaletteSemanticBadLight1%22:%22#f77c7c%22,%22sapUiChartPaletteSemanticBad%22:%22#f55556%22,%22sapUiChartPaletteSemanticBadDark1%22:%22#f33334%22,%22sapUiChartPaletteSemanticBadDark2%22:%22#ef0e0f%22,%22sapUiChartPaletteSemanticCriticalLight3%22:%22#fdecd5%22,%22sapUiChartPaletteSemanticCriticalLight2%22:%22#fad7a4%22,%22sapUiChartPaletteSemanticCriticalLight1%22:%22#f7c174%22,%22sapUiChartPaletteSemanticCritical%22:%22#f4ac44%22,%22sapUiChartPaletteSemanticCriticalDark1%22:%22#f19714%22,%22sapUiChartPaletteSemanticCriticalDark2%22:%22#de890d%22,%22sapUiChartPaletteSemanticGoodLight3%22:%22#d8f0df%22,%22sapUiChartPaletteSemanticGoodLight2%22:%22#b3e2c0%22,%22sapUiChartPaletteSemanticGoodLight1%22:%22#8ed4a2%22,%22sapUiChartPaletteSemanticGood%22:%22#69c683%22,%22sapUiChartPaletteSemanticGoodDark1%22:%22#45b765%22,%22sapUiChartPaletteSemanticGoodDark2%22:%22#3fa45b%22,%22sapUiChartPaletteSemanticNeutralLight3%22:%22#f1f2f3%22,%22sapUiChartPaletteSemanticNeutralLight2%22:%22#d5dadc%22,%22sapUiChartPaletteSemanticNeutralLight1%22:%22#bac1c4%22,%22sapUiChartPaletteSemanticNeutral%22:%22#9ea8ad%22,%22sapUiChartPaletteSemanticNeutralDark1%22:%22#848f94%22,%22sapUiChartPaletteSemanticNeutralDark2%22:%22#69767c%22,%22sapUiChartPaletteSequentialHue1Light3%22:%22#cce0f5%22,%22sapUiChartPaletteSequentialHue1Light2%22:%22#a3c7eb%22,%22sapUiChartPaletteSequentialHue1Light1%22:%22#7eb0e2%22,%22sapUiChartPaletteSequentialHue1Dark1%22:%22#2b7aca%22,%22sapUiChartPaletteSequentialHue1Dark2%22:%22#205c97%22,%22sapUiChartPaletteSequentialHue2Light3%22:%22#f7cfbb%22,%22sapUiChartPaletteSequentialHue2Light2%22:%22#f2ae8d%22,%22sapUiChartPaletteSequentialHue2Light1%22:%22#ed9164%22,%22sapUiChartPaletteSequentialHue2Dark2%22:%22#973e12%22,%22sapUiChartPaletteSequentialHue3Light3%22:%22#68e9be%22,%22sapUiChartPaletteSequentialHue3Light2%22:%22#3ce2ab%22,%22sapUiChartPaletteSequentialHue3Light1%22:%22#20d096%22,%22sapUiChartPaletteSequentialHue3Dark2%22:%22#093e2d%22,%22sapUiChartPaletteSequentialNeutralLight3%22:%22#f1f2f3%22,%22sapUiChartPaletteSequentialNeutralLight2%22:%22#d5dadc%22,%22sapUiChartPaletteSequentialNeutralLight1%22:%22#b9c1c5%22,%22sapUiChartPaletteSequentialNeutral%22:%22#9ea8ad%22,%22sapUiChartPaletteSequentialNeutralDark1%22:%22#848f94%22,%22sapUiChartPaletteSequentialNeutralDark2%22:%22#69767c%22,%22sapUiChoroplethBG%22:%22#7999a9%22,%22sapUiChoroplethRegionBG%22:%22#d5dadc%22,%22sapUiMapLegendBG%22:%22#3f5161%22,%22sapUiMapLegendBorderColor%22:%22#fff%22,%22sapUiShellHoverBackground%22:%22#eff4f9%22,%22sapUiShellActiveBackground%22:%22#eff4f9%22,%22sapUiShellActiveTextColor%22:%22#2e5778%22,%22sapUiShellHoverToggleBackground%22:%22#fff%22,%22sapUiUx3ShellGradientTop%22:%22rgba%28145,185,246,0.03%29%22,%22sapUiLinkActive%22:%22#7ed0ff%22,%22sapUiLinkVisited%22:%22#7ed0ff%22,%22sapUiLinkHover%22:%22#7ed0ff%22,%22sapUiLinkInverted%22:%22#fff%22,%22sapUiButtonIconColor%22:%22#cae4fb%22,%22sapUiButtonActiveBackground%22:%22#91c8f6%22,%22sapUiButtonActiveBorderColor%22:%22#91c8f6%22,%22sapUiButtonActiveTextColor%22:%22#2f3c48%22,%22sapUiButtonEmphasizedHoverBackground%22:%22#408ac7%22,%22sapUiButtonEmphasizedHoverBorderColor%22:%22#408ac7%22,%22sapUiButtonEmphasizedActiveBackground%22:%22#91c8f6%22,%22sapUiButtonEmphasizedActiveBorderColor%22:%22#91c8f6%22,%22sapUiButtonAcceptBorderColor%22:%22#abe2ab%22,%22sapUiButtonAcceptHoverBackground%22:%22#4f657a%22,%22sapUiButtonAcceptHoverBorderColor%22:%22#abe2ab%22,%22sapUiButtonAcceptActiveBackground%22:%22#abe2ab%22,%22sapUiButtonAcceptActiveBorderColor%22:%22#abe2ab%22,%22sapUiButtonAcceptTextColor%22:%22#abe2ab%22,%22sapUiButtonRejectBorderColor%22:%22#ff8888%22,%22sapUiButtonRejectHoverBackground%22:%22#4f657a%22,%22sapUiButtonRejectHoverBorderColor%22:%22#ff8888%22,%22sapUiButtonRejectActiveBackground%22:%22#ff8888%22,%22sapUiButtonRejectActiveBorderColor%22:%22#ff8888%22,%22sapUiButtonRejectTextColor%22:%22#f88%22,%22sapUiButtonLiteTextColor%22:%22#cae4fb%22,%22sapUiButtonLiteHoverBackground%22:%22rgba%2899,127,153,0.5%29%22,%22sapUiButtonLiteHoverBorderColor%22:%22rgba%2899,127,153,0.5%29%22,%22sapUiButtonLiteActiveBackground%22:%22#91c8f6%22,%22sapUiButtonLiteActiveBorderColor%22:%22#91c8f6%22,%22sapUiButtonHeaderTextColor%22:%22#cae4fb%22,%22sapUiButtonHeaderDisabledTextColor%22:%22#cae4fb%22,%22sapUiButtonFooterTextColor%22:%22#cae4fb%22,%22sapUiButtonFooterHoverBackground%22:%22rgba%2899,127,153,0.5%29%22,%22sapUiButtonActionSelectBackground%22:%22#2f3c48%22,%22sapUiButtonActionSelectBorderColor%22:%22#475b6d%22,%22sapUiButtonLiteActionSelectHoverBackground%22:%22#394957%22,%22sapUiToggleButtonPressedBackground%22:%22#62b0f2%22,%22sapUiToggleButtonPressedBorderColor%22:%22#4aa4f0%22,%22sapUiToggleButtonPressedTextColor%22:%22#2f3c48%22,%22sapUiToggleButtonPressedHoverBackground%22:%22#91c8f6%22,%22sapUiToggleButtonPressedHoverBorderColor%22:%22#91c8f6%22,%22sapUiToggleButtonPressedDisabledBackground%22:%22#62b0f2%22,%22sapUiToggleButtonPressedDisabledBorderColor%22:%22#4aa4f0%22,%22sapUiToggleButtonPressedDisabledTextColor%22:%22#f2f8fe%22,%22sapUiSegmentedButtonBackground%22:%22#435667%22,%22sapUiSegmentedButtonBorderColor%22:%22#8199ad%22,%22sapUiSegmentedButtonTextColor%22:%22#cae4fb%22,%22sapUiSegmentedButtonHoverBackground%22:%22#4f657a%22,%22sapUiSegmentedButtonActiveBackground%22:%22#91c8f6%22,%22sapUiSegmentedButtonActiveTextColor%22:%22#2f3c48%22,%22sapUiSegmentedButtonSelectedBackground%22:%22#62b0f2%22,%22sapUiSegmentedButtonSelectedTextColor%22:%22#2f3c48%22,%22sapUiSegmentedButtonSelectedHoverBackground%22:%22#91c8f6%22,%22sapUiSegmentedButtonSelectedHoverBorderColor%22:%22#91c8f6%22,%22sapUiSegmentedButtonIconColor%22:%22#cae4fb%22,%22sapUiSegmentedButtonActiveIconColor%22:%22#2f3c48%22,%22sapUiSegmentedButtonSelectedIconColor%22:%22#2f3c48%22,%22sapUiSegmentedButtonFooterBorderColor%22:%22#a0b2c1%22,%22sapUiSegmentedButtonFooterHoverBackground%22:%22#4f657a%22,%22sapUiFieldActiveBackground%22:%22#91c8f6%22,%22sapUiFieldActiveBorderColor%22:%22#91c8f6%22,%22sapUiFieldActiveTextColor%22:%22#2f3c48%22,%22sapUiFieldPlaceholderTextColor%22:%22#c3d7e8%22,%22sapUiListTextColor%22:%22#fafafa%22,%22sapUiListVerticalBorderColor%22:%22#536b80%22,%22sapUiListActiveBackground%22:%22#427cac%22,%22sapUiListSelectionHoverBackground%22:%22#4e7394%22,%22sapUiListFooterBackground%22:%22#2f3c48%22,%22sapUiListFooterTextColor%22:%22#fafafa%22,%22sapUiListGroupHeaderBackground%22:%22#3f5161%22,%22sapUiListTableGroupHeaderBackground%22:%22#3b4c5b%22,%22sapUiListTableGroupHeaderBorderColor%22:%22#69859e%22,%22sapUiListTableGroupHeaderTextColor%22:%22#b7cfe4%22,%22sapUiListTableFooterBorder%22:%22#69859e%22,%22sapUiListTableFixedBorder%22:%22#9dafc0%22,%22sapUiPageFooterBorderColor%22:%22#475b6d%22,%22sapUiInfobarActiveBackground%22:%22#427cac%22,%22sapUiCalendarColorToday%22:%22#e57acf%22,%22sapUiShadowLevel0%22:%220 0 0.125rem 0 rgba%28255,255,255,0.3%29%22,%22sapUiShadowLevel1%22:%220 0.125rem 0.375rem 0 rgba%280,0,0,0.2%29, 0 0 0.125rem 0 rgba%28255,255,255,0.3%29%22,%22sapUiShadowLevel2%22:%220 0.375rem 0.750rem 0 rgba%280,0,0,0.3%29, 0 0 0.125rem 0 rgba%28255,255,255,0.3%29%22,%22sapUiShadowLevel3%22:%220 1.250rem 2rem 0 rgba%280,0,0,0.5%29, 0 0 0.125rem 0 rgba%28255,255,255,0.3%29%22,%22sapUiShadowText%22:%220 1px rgba%280,0,0,0.5%29%22,%22sapUiShadowHeader%22:%220 0.125rem 0 0 #000%22,%22sapUiUx3ShellHeaderImageURL%22:%22%22,%22sapUiUx3ShellApplicationImageURL%22:%22none%22,%22sapUiExtraLightBG%22:%22#3f5161%22,%22sapUiButtonStandardBG%22:%22#3f5161%22,%22sapUiText%22:%22#fafafa%22,%22sapUiEmphasizedLine%22:%22#91c8f6%22,%22sapUiTableRowSelectionBG%22:%22#91c8f6%22,%22sapUiTableRowSelectionReadOnlyBG%22:%22#91c8f6%22,%22sapUiTextDisabled%22:%22#fff%22,%22sapUiNotifierHoverColor%22:%22#91c8f6%22,%22sapUiNotificationTimestamp%22:%22#fff%22,%22sapUiButtonEmphasizedDisabledBorderColor%22:%22#408ac7%22,%22sapUiButtonEmphasizedDisabledBackground%22:%22#5496cd%22,%22sapUiButtonAcceptDisabledBorderColor%22:%22#abe2ab%22,%22sapUiButtonAcceptDisabledBackground%22:%22#435667%22,%22sapUiButtonRejectDisabledBorderColor%22:%22#ff8888%22,%22sapUiButtonRejectDisabledBackground%22:%22#435667%22,%22sapUiPositiveBG%22:%22#abe2ab%22,%22sapUiEscapedEmptyString%22:%22%22,%22sapMShellContentBG%22:%22rgba%2873,94,112,0.3%29%22,%22sapMTitleColor%22:%22#fafafa%22,%22sapBackgroundColorDefault%22:%22#3f5161%22,%22sapErrorBackground%22:%22#500%22,%22sapWarningBackground%22:%22#5c3803%22,%22sapSuccessBackground%22:%22#174417%22,%22sapNeutralBackground%22:%22#393e41%22,%22sapErrorBorderColor%22:%22#ff8888%22,%22sapWarningBorderColor%22:%22#fabd64%22,%22sapSuccessBorderColor%22:%22#abe2ab%22,%22sapNegativeTextColor%22:%22#ff8888%22,%22sapCriticalTextColor%22:%22#fabd64%22,%22sapPositiveTextColor%22:%22#abe2ab%22,%22sapNeutralTextColor%22:%22#d3d7d9%22,%22sapErrorColor%22:%22#ff8888%22,%22sapWarningColor%22:%22#fabd64%22,%22sapSuccessColor%22:%22#abe2ab%22,%22sapUiContentMarkerTextColor%22:%22#b7cfe4%22,%22_sap_m_IconTabBar_SelectedTextColor%22:%22#91c8f6%22,%22_sap_m_Slider_HandleHoverBackground%22:%22rgba%2843,55,66,0.6%29%22,%22_sap_m_Slider_HandleBorderColor%22:%22#536b7f%22%7D%7D%7D')}